Repository hashicorp/terraform, pull requests merged in 2018-10, with the labels that each got.

#18979 backend/remote: ask to cancel a pending remote operation
  backend/remote/backend.go
  backend/remote/backend_apply_test.go
  backend/remote/backend_mock.go
  backend/remote/backend_plan.go
Labels: backend/remote, enhancement

#18980 backend/remote: only show the full policy output when it fails
  backend/remote/backend_apply.go
  backend/remote/backend_apply_test.go
  backend/remote/backend_mock.go
  backend/remote/test-fixtures/apply-policy-passed/policy.log
Labels: backend/remote, enhancement

#19002 backend/remote: add support for `-no-color`
  backend/remote/backend.go
  backend/remote/colorize.go
Labels: backend/remote, enhancement

#19003 [Website] New Communtiy Providers
  website/docs/providers/type/community-index.html.markdown
Labels: documentation

#19012 backend/remote: prevent running plan or apply without permissions
  backend/remote/backend_apply.go
  backend/remote/backend_apply_test.go
  backend/remote/backend_mock.go
  backend/remote/backend_plan.go
  backend/remote/backend_plan_test.go
Labels: backend/remote, enhancement

#19013 backend/remote: add checks for all flags we currently don’t support
  backend/backend.go
  backend/remote/backend.go
  backend/remote/backend_apply.go
  backend/remote/backend_apply_test.go
  backend/remote/backend_plan.go
  backend/remote/backend_plan_test.go
  command/apply.go
  command/meta_backend.go
  command/plan.go
Labels: backend/remote, enhancement

#19014 backend/remote: allow enhanced backends to pass custom exit codes
  backend/backend.go
  backend/remote/backend.go
  backend/remote/backend_apply_test.go
  backend/remote/backend_mock.go
  backend/remote/backend_plan_test.go
  backend/remote/test-fixtures/apply-with-error/main.tf
  backend/remote/test-fixtures/apply-with-error/plan.log
  backend/remote/test-fixtures/plan-with-error/main.tf
  backend/remote/test-fixtures/plan-with-error/plan.log
  command/apply.go
  command/plan.go
Labels: backend, backend/remote, enhancement

#19022 backend/remote: properly handle workspaces that auto apply changes
  backend/remote/backend_apply.go
  backend/remote/backend_apply_test.go
  backend/remote/backend_mock.go
  backend/remote/backend_plan_test.go
Labels: backend/remote, enhancement

#19035 backend/remote: don’t ask questions when -auto-approve is set
  backend/local/backend.go
  backend/remote/backend_apply.go
  backend/remote/backend_apply_test.go
Labels: backend/remote, enhancement

#18533 change chef linux provisioner to use user:group chown syntax
  builtin/provisioners/chef/linux_provisioner.go
  builtin/provisioners/chef/linux_provisioner_test.go
Labels: provisioner/chef

#19079 backend/remote: improve console output
  backend/remote/backend.go
  backend/remote/backend_apply.go
  backend/remote/backend_plan.go
  vendor/github.com/hashicorp/go-tfe/logreader.go
  vendor/github.com/hashicorp/go-tfe/tfe.go
  vendor/vendor.json
  website/docs/backends/types/remote.html.md
Labels: backend/remote, enhancement

#19088 backend/remote: make sure we also output policies while planning
  backend/remote/backend.go
  backend/remote/backend_apply.go
  backend/remote/backend_common.go
  backend/remote/backend_plan.go
  backend/remote/backend_plan_test.go
  backend/remote/test-fixtures/plan-policy-hard-failed/main.tf
  backend/remote/test-fixtures/plan-policy-hard-failed/plan.log
  backend/remote/test-fixtures/plan-policy-hard-failed/policy.log
  backend/remote/test-fixtures/plan-policy-passed/main.tf
  backend/remote/test-fixtures/plan-policy-passed/plan.log
  backend/remote/test-fixtures/plan-policy-passed/policy.log
  backend/remote/test-fixtures/plan-policy-soft-failed/main.tf
  backend/remote/test-fixtures/plan-policy-soft-failed/plan.log
  backend/remote/test-fixtures/plan-policy-soft-failed/policy.log
Labels: backend/remote, enhancement

#19102 helper/validation: Add All() and IntInSlice() SchemaValidateFunc
  helper/validation/validation.go
  helper/validation/validation_test.go
Labels: enhancement, provider-sdk

#19113 build: Take protoc out of the "go generate" path
  .travis.yml
  Makefile
  go.mod
  go.sum
  plans/internal/planproto/generate.go
  plans/internal/planproto/generate.sh
  plugin/proto/generate.go
  plugin/proto/generate.sh
  plugin/proto/plugin.pb.go
  states/objectstatus_string.go
  vendor/github.com/golang/mock/gomock/matchers.go
  vendor/modules.txt
Labels: build

#19122 helper/validation: Add Any() SchemaValidateFunc
  helper/validation/validation.go
  helper/validation/validation_test.go
Labels: enhancement, provider-sdk

#19161 lang: Fix crash in lookup function
  lang/funcs/collection.go
  lang/funcs/collection_test.go
Labels: bug, crash, v0.12-alpha1

#19169 Fix typo.
  website/docs/backends/types/s3.html.md
Labels: documentation

#19170 Small grammar fix for lifecycle docs
  website/docs/configuration/resources.html.md
Labels: documentation

#18039 Update golang.org/x/net/idna to handle hostname started with numeric
  svchost/svchost_test.go
Labels: breaking-change, bug, modules

#19238 [Website] More Community Provider
  website/docs/providers/type/community-index.html.markdown
Labels: documentation
