Repository hashicorp/terraform, pull requests merged in 2018-04, with the labels that each got.

#17667 helper/schema: Add Computed to ResourceDiff, expose GetOkExists
  helper/schema/resource_diff.go
  helper/schema/resource_diff_test.go
Labels: enhancement, provider-sdk

#17765 detect scaled in resources when evaluating *s
  terraform/context_apply_test.go
  terraform/interpolate.go
  terraform/test-fixtures/apply-resource-scale-in/main.tf
Labels: bug

#17431 Use io.SeekStart instead of deprecated os.SEEK_SET
  state/local.go
  state/local_lock_unix.go
Labels: backend/local

#17403 [provisioner-habitat] Fix package channel honoring and documentation
  builtin/provisioners/habitat/resource_provisioner.go
  website/docs/provisioners/habitat.html.markdown
Labels: bug, provisioner/habitat

#17618 website: remove an unnecessary parameter for API
  website/docs/registry/api.html.md
Labels: documentation, registry

#17748 Support NTLM for WinRM communicators.
  communicator/winrm/communicator.go
  communicator/winrm/communicator_test.go
  communicator/winrm/provisioner.go
  communicator/winrm/provisioner_test.go
  terraform/eval_validate.go
  website/docs/provisioners/connection.html.markdown
Labels: provisioner/winrm

#17811 helper/schema: ResourceDiff ForceNew attribute correctness
  helper/schema/resource_diff.go
  helper/schema/resource_diff_test.go
  helper/schema/schema_test.go
Labels: bug, provider-sdk

#17845 Website: add two community providers
  website/docs/providers/type/community-index.html.markdown
Labels: documentation

#17806 configs: Start using the new "addrs" package types for modules
  addrs/module.go
  addrs/module_instance.go
  configs/config.go
Labels: config, enhancement

#17863 Fix word repetition
  website/docs/provisioners/file.html.markdown
Labels: documentation

#17807 configs: Re-unify the ManagedResource and DataResource types
  configs/module.go
  configs/module_merge.go
  configs/resource.go
  terraform/resource_address.go
  terraform/resource_address_test.go
Labels: config, enhancement

#17808 configs: NewEmptyConfig function
  configs/config.go
Labels: config, enhancement

#17809 configs: DisabledModuleWalker
  configs/config_build.go
Labels: config, enhancement

#17913 fix incorrect url
  website/docs/providers/type/community-index.html.markdown
Labels: documentation

#17930 Make "v3" in etcd visible in the backend types sidebar
  website/layouts/backend-types.erb
Labels: backend/etcd, documentation

#17971 Add a few community providers
  website/docs/providers/type/community-index.html.markdown
Labels: documentation
