Repository hashicorp/terraform, pull requests merged in 2018-09, with the labels that each got.

#18777 Making spacing consistent everywhere
  command/push.go
Labels: bug, cli

#18773 backend/remote: take working directories into account
  backend/remote/backend_mock.go
  backend/remote/backend_plan.go
  backend/remote/backend_plan_test.go
  backend/remote/test-fixtures/plan-with-working-directory/terraform/main.tf
  backend/remote/test-fixtures/plan-with-working-directory/terraform/output.log
  backend/remote/testing.go
Labels: backend/remote, bug

#18817 backend/remote: use pagination when retrieving workspaces
  backend/remote/backend.go
  backend/remote/backend_mock.go
  backend/remote/test-fixtures/plan-scaleout/main.tf
Labels: backend/remote, bug

#18818 backend/remote: add the run ID to associate state
  backend/remote/backend.go
  backend/remote/backend_mock.go
  backend/remote/backend_state.go
  backend/remote/backend_state_test.go
Labels: backend/remote, bug

#18826 backend/remote: add support for state locking
  backend/remote/backend_mock.go
  backend/remote/backend_state.go
  backend/remote/backend_state_test.go
  backend/remote/backend_test.go
Labels: backend/remote, enhancement

#18883 backend/remote: handle empty results correctly
  backend/remote/backend.go
  backend/remote/backend_mock.go
Labels: backend/remote, bug

#18884 Add Oracle Cloud Infrastructure provider links
  website/docs/providers/index.html.markdown
  website/docs/providers/type/major-index.html.markdown
Labels: documentation

#18910 docs: Fix inaccurate plugin CRUD description
  website/docs/plugins/provider.html.md
Labels: documentation

#18914 govendor: update `go-tfe`
  vendor/github.com/hashicorp/go-tfe/apply.go
  vendor/github.com/hashicorp/go-tfe/logreader.go
  vendor/github.com/hashicorp/go-tfe/oauth_client.go
  vendor/github.com/hashicorp/go-tfe/oauth_token.go
  vendor/github.com/hashicorp/go-tfe/plan.go
  vendor/github.com/hashicorp/go-tfe/policy_check.go
  vendor/github.com/hashicorp/go-tfe/run.go
  vendor/github.com/hashicorp/go-tfe/tfe.go
  vendor/github.com/hashicorp/go-tfe/variable.go
  vendor/vendor.json
Labels: backend/remote, dependencies

#18924 core: Handle forced-create_before_destroy during the plan walk
  backend/local/backend_plan.go
  backend/local/hook_count.go
  command/format/diff.go
  command/format/plan.go
  plans/action.go
  plans/changes.go
  plans/internal/planproto/planfile.pb.go
  plans/internal/planproto/planfile.proto
  plans/planfile/tfplan.go
  terraform/context_apply_test.go
  terraform/context_plan_test.go
  terraform/context_test.go
  terraform/eval_apply.go
  terraform/eval_check_prevent_destroy.go
  terraform/eval_diff.go
  terraform/graph_builder_apply.go
  terraform/graph_builder_apply_test.go
  terraform/graph_builder_plan.go
  terraform/node_resource_apply_instance.go
  terraform/node_resource_destroy_deposed.go
  terraform/node_resource_plan.go
  terraform/node_resource_plan_instance.go
  terraform/transform_destroy_cbd.go
  terraform/transform_diff.go
Labels: core, enhancement

#18950 backend/remote: initial version of the apply command
  backend/backend.go
  backend/local/backend_apply.go
  backend/remote/backend.go
  backend/remote/backend_apply.go
  backend/remote/backend_apply_test.go
  backend/remote/backend_mock.go
  backend/remote/backend_plan.go
  backend/remote/test-fixtures/apply-destroy/apply.log
  backend/remote/test-fixtures/apply-destroy/main.tf
  backend/remote/test-fixtures/apply-destroy/plan.log
  backend/remote/test-fixtures/apply-no-changes/main.tf
  backend/remote/test-fixtures/apply-no-changes/plan.log
  backend/remote/test-fixtures/apply-policy-hard-failed/main.tf
  backend/remote/test-fixtures/apply-policy-hard-failed/plan.log
  backend/remote/test-fixtures/apply-policy-hard-failed/policy.log
  backend/remote/test-fixtures/apply-policy-passed/apply.log
  backend/remote/test-fixtures/apply-policy-passed/main.tf
  backend/remote/test-fixtures/apply-policy-passed/plan.log
  backend/remote/test-fixtures/apply-policy-passed/policy.log
  backend/remote/test-fixtures/apply-policy-soft-failed/apply.log
  backend/remote/test-fixtures/apply-policy-soft-failed/main.tf
  backend/remote/test-fixtures/apply-policy-soft-failed/plan.log
  backend/remote/test-fixtures/apply-policy-soft-failed/policy.log
  backend/remote/test-fixtures/apply/apply.log
  backend/remote/test-fixtures/apply/main.tf
  backend/remote/test-fixtures/apply/plan.log
  backend/remote/test-fixtures/plan-with-working-directory/terraform/plan.log
  backend/remote/test-fixtures/plan/plan.log
  backend/remote/testing.go
Labels: backend/remote, enhancement

#18957 [Website] New Provider Links
  website/docs/providers/index.html.markdown
  website/docs/providers/type/cloud-index.html.markdown
Labels: documentation
