Repository hashicorp/terraform, pull requests merged in 2018-11, with the labels that each got.

#19286 helper/schema: Fix timeout parsing during Provider.Diff
  helper/schema/provider_test.go
  helper/schema/resource_test.go
  helper/schema/resource_timeout.go
  helper/schema/resource_timeout_test.go
  helper/schema/shims_test.go
Labels: bug, provider-sdk

#19292 lang/funcs: Various fixes and refinements
  lang/funcs/collection.go
  lang/funcs/collection_test.go
Labels: bug, config

#19312 helper/schema: Avoid erroring out on undefined timeouts
  helper/schema/resource_timeout.go
Labels: bug, provider-sdk

#19007 Fix backend/swift docs
  website/docs/backends/types/swift.html.md
Labels: backend/swift, documentation

#19329 vendor: catch up vendoring
  vendor/github.com/google/go-querystring/LICENSE
  vendor/github.com/google/go-querystring/query/encode.go
  vendor/github.com/hashicorp/go-slug/.gitignore
  vendor/github.com/hashicorp/go-slug/LICENSE
  vendor/github.com/hashicorp/go-slug/README.md
  vendor/github.com/hashicorp/go-slug/slug.go
  vendor/github.com/hashicorp/go-tfe/LICENSE
  vendor/github.com/hashicorp/go-tfe/README.md
  vendor/github.com/hashicorp/go-tfe/apply.go
  vendor/github.com/hashicorp/go-tfe/configuration_version.go
  vendor/github.com/hashicorp/go-tfe/logreader.go
  vendor/github.com/hashicorp/go-tfe/oauth_client.go
  vendor/github.com/hashicorp/go-tfe/oauth_token.go
  vendor/github.com/hashicorp/go-tfe/organization.go
  vendor/github.com/hashicorp/go-tfe/organization_token.go
  vendor/github.com/hashicorp/go-tfe/plan.go
  vendor/github.com/hashicorp/go-tfe/policy.go
  vendor/github.com/hashicorp/go-tfe/policy_check.go
  vendor/github.com/hashicorp/go-tfe/run.go
  vendor/github.com/hashicorp/go-tfe/ssh_key.go
  vendor/github.com/hashicorp/go-tfe/state_version.go
  vendor/github.com/hashicorp/go-tfe/team.go
  vendor/github.com/hashicorp/go-tfe/team_access.go
  vendor/github.com/hashicorp/go-tfe/team_member.go
  vendor/github.com/hashicorp/go-tfe/team_token.go
  vendor/github.com/hashicorp/go-tfe/tfe.go
  vendor/github.com/hashicorp/go-tfe/type_helpers.go
  vendor/github.com/hashicorp/go-tfe/user.go
  vendor/github.com/hashicorp/go-tfe/validations.go
  vendor/github.com/hashicorp/go-tfe/variable.go
  vendor/github.com/hashicorp/go-tfe/workspace.go
  vendor/github.com/svanharmelen/jsonapi/.gitignore
  vendor/github.com/svanharmelen/jsonapi/.travis.yml
  vendor/github.com/svanharmelen/jsonapi/LICENSE
  vendor/github.com/svanharmelen/jsonapi/README.md
  vendor/github.com/svanharmelen/jsonapi/constants.go
  vendor/github.com/svanharmelen/jsonapi/doc.go
  vendor/github.com/svanharmelen/jsonapi/errors.go
  vendor/github.com/svanharmelen/jsonapi/node.go
  vendor/github.com/svanharmelen/jsonapi/request.go
  vendor/github.com/svanharmelen/jsonapi/response.go
  vendor/github.com/svanharmelen/jsonapi/runtime.go
  vendor/modules.txt
Labels: bug, build

#19374 Fix wildcard dependencies when upgrading states
  states/statefile/testdata/roundtrip/v3-simple.in.tfstate
  states/statefile/testdata/roundtrip/v3-simple.out.tfstate
  states/statefile/version3_upgrade.go
  terraform/valuesourcetype_string.go
Labels: bug, core

#19375 Make the Atlas backend work after updating depencies
  backend/atlas/state_client.go
  backend/atlas/state_client_test.go
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-retryablehttp/client.go
  vendor/github.com/hashicorp/go-retryablehttp/go.mod
  vendor/github.com/hashicorp/go-retryablehttp/go.sum
  vendor/github.com/hashicorp/go-tfe/go.mod
  vendor/github.com/hashicorp/go-tfe/go.sum
  vendor/github.com/hashicorp/go-tfe/policy_set.go
  vendor/modules.txt
Labels: backend/atlas, bug

#19393 plugin: Establish our current plugin protocol as version 5
  Makefile
  helper/plugin/grpc_provider.go
  helper/plugin/grpc_provider_test.go
  helper/plugin/grpc_provisioner.go
  helper/plugin/grpc_provisioner_test.go
  helper/resource/grpc_test_provider.go
  internal/tfplugin5/generate.sh
  internal/tfplugin5/tfplugin5.pb.go
  internal/tfplugin5/tfplugin5.proto
  plugin/convert/diagnostics.go
  plugin/convert/diagnostics_test.go
  plugin/convert/schema.go
  plugin/convert/schema_test.go
  plugin/grpc_provider.go
  plugin/grpc_provider_test.go
  plugin/grpc_provisioner.go
  plugin/grpc_provisioner_test.go
  plugin/mock_proto/generate.go
  plugin/mock_proto/mock.go
  plugin/serve.go
Labels: enhancement, provider-sdk

#19405 command: Use vendoring when building helper programs in tests
  command/command_test.go
  e2e/e2e.go
Labels: bug, build

#19378 backend/remote: change how to fall back to a local backend
  backend/init/init.go
  backend/init/init_test.go
  backend/local/backend.go
  backend/local/backend_apply_test.go
  backend/local/backend_plan.go
  backend/remote/backend.go
  backend/remote/backend_apply.go
  backend/remote/backend_apply_test.go
  backend/remote/backend_mock.go
  backend/remote/backend_plan.go
  backend/remote/backend_plan_test.go
  backend/remote/backend_test.go
  backend/remote/cli.go
  backend/remote/remote_test.go
  backend/remote/test-fixtures/apply-destroy/apply.log
  backend/remote/test-fixtures/apply-policy-passed/apply.log
  backend/remote/test-fixtures/apply-policy-soft-failed/apply.log
  backend/remote/test-fixtures/apply-variables/apply.log
  backend/remote/test-fixtures/apply/apply.log
  backend/remote/testing.go
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-tfe/tfe.go
  vendor/github.com/hashicorp/go-tfe/workspace.go
  vendor/modules.txt
Labels: backend/remote, enhancement

#19433 backend/azurerm: support for authenticating via msi
  backend/remote-state/azure/arm_client.go
  backend/remote-state/azure/backend.go
  backend/remote-state/azure/backend_test.go
  backend/remote-state/azure/client_test.go
  backend/remote-state/azure/helpers_test.go
  website/docs/backends/types/azurerm.html.md
Labels: backend/azure, enhancement

#19441 backend/azurerm: fixing a bug where locks couldn't be unlocked
  backend/remote-state/azure/client.go
Labels: backend/azure, bug

#19440 backend/azurerm: support for authenticating via SAS Tokens
  backend/remote-state/azure/arm_client.go
  backend/remote-state/azure/backend.go
  backend/remote-state/azure/backend_test.go
  backend/remote-state/azure/client_test.go
  backend/remote-state/azure/helpers_test.go
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-helpers/storage/sas_token.go
  vendor/modules.txt
  website/docs/backends/types/azurerm.html.md
Labels: backend/azure, enhancement

#19448 backend/azurerm: removing the `arm_` prefix from keys
  backend/remote-state/azure/backend.go
  backend/remote-state/azure/backend_test.go
  backend/remote-state/azure/client_test.go
  website/docs/backends/types/azurerm.html.md
Labels: backend/azure, enhancement

#19460 backend/azurerm: support for custom resource manager endpoints
  backend/remote-state/azure/arm_client.go
  backend/remote-state/azure/backend.go
  backend/remote-state/azure/backend_test.go
  backend/remote-state/azure/client_test.go
  backend/remote-state/azure/helpers_test.go
  website/docs/backends/types/azurerm.html.md
Labels: backend/azure, enhancement

#19431 commands: make sure the correct flagset is used
  command/012_config_upgrade.go
  command/apply.go
  command/console.go
  command/debug_json2dot.go
  command/fmt.go
  command/get.go
  command/graph.go
  command/import.go
  command/init.go
  command/meta.go
  command/meta_backend_test.go
  command/meta_config.go
  command/meta_test.go
  command/output.go
  command/plan.go
  command/providers.go
  command/refresh.go
  command/show.go
  command/state_list.go
  command/state_mv.go
  command/state_pull.go
  command/state_push.go
  command/state_rm.go
  command/state_show.go
  command/taint.go
  command/unlock.go
  command/untaint.go
  command/validate.go
  command/workspace_command.go
  command/workspace_delete.go
  command/workspace_list.go
  command/workspace_new.go
  command/workspace_select.go
  command/workspace_show.go
Labels: core, enhancement

#19390 [Website] New certified and community provider
  website/docs/providers/index.html.markdown
  website/docs/providers/type/cloud-index.html.markdown
  website/docs/providers/type/community-index.html.markdown
  website/docs/providers/type/network-index.html.markdown
Labels: documentation

#19453 command/format: Fix rendering of attribute-agnostic diagnostics
  command/format/diagnostic.go
  command/validate_test.go
  configs/parser_config_test.go
  go.mod
  go.sum
  vendor/github.com/hashicorp/hcl2/gohcl/doc.go
  vendor/github.com/hashicorp/hcl2/gohcl/encode.go
  vendor/github.com/hashicorp/hcl2/hcl/hclsyntax/expression.go
  vendor/github.com/hashicorp/hcl2/hcl/hclsyntax/expression_ops.go
  vendor/github.com/hashicorp/hcl2/hcl/hclsyntax/expression_template.go
  vendor/github.com/hashicorp/hcl2/hcl/hclsyntax/navigation.go
  vendor/github.com/hashicorp/hcl2/hcl/hclsyntax/node.go
  vendor/github.com/hashicorp/hcl2/hcl/hclsyntax/parser.go
  vendor/github.com/hashicorp/hcl2/hcl/hclsyntax/structure.go
  vendor/github.com/hashicorp/hcl2/hcl/hclsyntax/variables.go
  vendor/github.com/hashicorp/hcl2/hcl/hclsyntax/walk.go
  vendor/github.com/hashicorp/hcl2/hcled/navigation.go
  vendor/github.com/hashicorp/hcl2/hclwrite/ast.go
  vendor/github.com/hashicorp/hcl2/hclwrite/ast_attribute.go
  vendor/github.com/hashicorp/hcl2/hclwrite/ast_block.go
  vendor/github.com/hashicorp/hcl2/hclwrite/ast_body.go
  vendor/github.com/hashicorp/hcl2/hclwrite/ast_expression.go
  vendor/github.com/hashicorp/hcl2/hclwrite/doc.go
  vendor/github.com/hashicorp/hcl2/hclwrite/generate.go
  vendor/github.com/hashicorp/hcl2/hclwrite/node.go
  vendor/github.com/hashicorp/hcl2/hclwrite/parser.go
  vendor/github.com/hashicorp/hcl2/hclwrite/tokens.go
  vendor/modules.txt
Labels: bug

#19475 Shim computed containers
  builtin/providers/test/resource_diff_suppress.go
  builtin/providers/test/resource_nested_set.go
  builtin/providers/test/resource_test.go
  helper/plugin/grpc_provider.go
  helper/plugin/grpc_provider_test.go
  plans/objchange/compatible.go
Labels: provider-sdk

#19486 core: Make resource type schema versions visible to callers
  backend/local/backend_plan.go
  terraform/eval_apply.go
  terraform/eval_diff.go
  terraform/eval_read_data.go
  terraform/eval_refresh.go
  terraform/eval_state.go
  terraform/eval_validate.go
  terraform/eval_validate_selfref.go
  terraform/evaluate.go
  terraform/evaluate_valid.go
  terraform/node_resource_abstract.go
  terraform/schemas.go
  terraform/transform_attach_schema.go
Labels: core, enhancement

#19403 backend/remote: also show policies when there are no changes
  backend/remote/backend_apply_test.go
  backend/remote/backend_common.go
  backend/remote/backend_plan.go
  backend/remote/backend_plan_test.go
  backend/remote/test-fixtures/apply-no-changes/policy.log
  backend/remote/test-fixtures/plan-no-changes/main.tf
  backend/remote/test-fixtures/plan-no-changes/plan.log
  backend/remote/test-fixtures/plan-no-changes/policy.log
Labels: backend/remote, enhancement

#19490 lang/funcs: zipmap accepts tuple of values and produces object
  lang/funcs/collection.go
  lang/funcs/collection_test.go
Labels: config, enhancement

#19494 Use registry alias to fetch providers
  plugin/discovery/get.go
  plugin/discovery/get_test.go
  registry/regsrc/terraform_provider.go
  registry/regsrc/terraform_provider_test.go
  registry/test/mock_registry.go
Labels: cli, enhancement

#19464 backend/remote: implement the Local interface
  backend/local/backend_local.go
  backend/remote/backend.go
  backend/remote/backend_context.go
  backend/remote/colorize.go
Labels: backend/remote, enhancement

#19487 core: Validate module references
  repl/session_test.go
  terraform/context_validate_test.go
  terraform/evaluate.go
  terraform/evaluate_valid.go
Labels: bug, core, crash

#19502 [Website] Updates path name
  website/docs/providers/type/cloud-index.html.markdown
Labels: documentation

#19520 backend/remote: support the new force-unlock API
  backend/remote/backend.go
  backend/remote/backend_mock.go
  backend/remote/backend_state.go
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-slug/go.mod
  vendor/github.com/hashicorp/go-slug/slug.go
  vendor/github.com/hashicorp/go-tfe/configuration_version.go
  vendor/github.com/hashicorp/go-tfe/go.mod
  vendor/github.com/hashicorp/go-tfe/go.sum
  vendor/github.com/hashicorp/go-tfe/tfe.go
  vendor/github.com/hashicorp/go-tfe/workspace.go
  vendor/modules.txt
Labels: backend/remote, bug, dependencies, enhancement
