Repository hashicorp/terraform, pull requests merged in 2019-06, with the labels that each got.

#21560 Update taint cli docs to reflect new 0.12 usage
  website/docs/commands/taint.html.markdown
Labels: documentation

#21575 backend/local: don't panic when an instance has only a deposed object
  backend/local/backend_plan.go
  backend/local/backend_plan_test.go
Labels: bug, cli, crash

#21461 lang: "range" function
  lang/functions.go
  lang/functions_test.go
  website/docs/configuration/functions/range.html.md
  website/layouts/functions.erb
Labels: config, enhancement

#21598 website: Additional information about "dynamic" blocks
  website/docs/configuration/expressions.html.md
Labels: config, documentation

#19702 backend/http: implement retries for the http backend
  backend/remote-state/http/backend.go
  backend/remote-state/http/backend_test.go
  backend/remote-state/http/client.go
  backend/remote-state/http/client_test.go
  command/apply_test.go
  website/docs/backends/types/http.html.md
Labels: backend/http

#21611 Make sure resource private data is carried through the entire resource lifecycle
  builtin/providers/test/resource_timeout_test.go
  command/apply_test.go
  command/command_test.go
  command/refresh_test.go
  helper/plugin/grpc_provider.go
  helper/resource/state_shim.go
  internal/tfplugin5/tfplugin5.pb.go
  internal/tfplugin5/tfplugin5.proto
  plugin/grpc_provider.go
  providers/provider.go
  states/state_deepcopy.go
  states/state_test.go
  terraform/eval_diff.go
  terraform/eval_refresh.go
Labels: core, provider-sdk

#21599 website: Further elaboration on the "any" type constraint
  website/docs/configuration/types.html.md
Labels: config, documentation

#21648 Remove links to legacy Terraform Enterprise docs
  website/docs/commands/push.html.markdown
  website/docs/configuration-0-11/terraform-enterprise.html.md
  website/docs/configuration/terraform-enterprise.html.md
Labels: documentation

#21625 helper/plugin: Allow missing MigrateState for provider flatmap state upgrades
  helper/plugin/grpc_provider.go
  helper/plugin/grpc_provider_test.go
Labels: enhancement, provider-sdk

#21654 docs: README for the plugin-protocol directory
  docs/README.md
  docs/plugin-protocol/README.md
Labels: documentation

#18671 backend/remote: Swift Authentication Update
  backend/remote-state/swift/backend.go
Labels: backend/swift, bug

#21710 only seed math/rand once
  helper/acctest/random.go
Labels: provider-sdk

#21254 Add GCS source support for modules
  configs/configload/getter.go
  internal/initwd/getter.go
  website/docs/modules/sources.html.markdown
Labels: enhancement, modules

#21334 command/format: Reduce extra whitespaces & new lines
  command/format/state.go
  command/format/state_test.go
  command/state_show_test.go
Labels: bug, cli

#21711 Ensure all object attrs & empty blocks in upgrade
  helper/plugin/grpc_provider.go
  helper/plugin/grpc_provider_test.go
Labels: provider-sdk

#21723 missing link to OSS backend
  website/layouts/backend-types.erb
Labels: documentation

#21721 Remove removed attribute from applied state
  builtin/providers/test/resource.go
  builtin/providers/test/resource_test.go
  helper/plugin/grpc_provider.go
Labels: provider-sdk

#21764 normalize empty blocks during import
  builtin/providers/test/resource_nested_set_test.go
  helper/plugin/grpc_provider.go
Labels: provider-sdk

#21759 website: Separate "Module Composition" section for variants
  website/docs/modules/composition.html.markdown
Labels: documentation

#21631 Correct fmt -check
  website/docs/commands/fmt.html.markdown
Labels: documentation

#21728 terraform_remote_state docs have incorrect example for "config" argument
  website/docs/providers/terraform/d/remote_state.html.md
Labels: documentation, hashibot/ignore, provider/terraform

#21814 Private data and timeouts were lost in empty plans
  builtin/providers/test/resource_timeout_test.go
  helper/plugin/grpc_provider.go
  helper/schema/resource.go
Labels: provider-sdk

#21810 Clarifications to Puppet provisioner docs
  website/docs/provisioners/puppet.html.markdown
Labels: documentation, provisioner/puppet

#21811 state/remote: Don't persist snapshot for unchanged state
  state/remote/remote_test.go
  state/remote/state.go
  state/remote/state_test.go
Labels: bug, core

#21815 deps: github.com/aws/aws-sdk-go@v1.20.4
  go.mod
  go.sum
  vendor/github.com/aws/aws-sdk-go/aws/awserr/error.go
  vendor/github.com/aws/aws-sdk-go/aws/awserr/types.go
  vendor/github.com/aws/aws-sdk-go/aws/credentials/credentials.go
  vendor/github.com/aws/aws-sdk-go/aws/credentials/ec2rolecreds/ec2_role_provider.go
  vendor/github.com/aws/aws-sdk-go/aws/credentials/endpointcreds/provider.go
  vendor/github.com/aws/aws-sdk-go/aws/credentials/stscreds/assume_role_provider.go
  vendor/github.com/aws/aws-sdk-go/aws/csm/reporter.go
  vendor/github.com/aws/aws-sdk-go/aws/ec2metadata/api.go
  vendor/github.com/aws/aws-sdk-go/aws/ec2metadata/service.go
  vendor/github.com/aws/aws-sdk-go/aws/endpoints/defaults.go
  vendor/github.com/aws/aws-sdk-go/aws/endpoints/dep_service_ids.go
  vendor/github.com/aws/aws-sdk-go/aws/request/connection_reset_error.go
  vendor/github.com/aws/aws-sdk-go/aws/request/connection_reset_error_other.go
  vendor/github.com/aws/aws-sdk-go/aws/request/handlers.go
  vendor/github.com/aws/aws-sdk-go/aws/request/request.go
  vendor/github.com/aws/aws-sdk-go/aws/session/credentials.go
  vendor/github.com/aws/aws-sdk-go/aws/session/session.go
  vendor/github.com/aws/aws-sdk-go/aws/session/shared_config.go
  vendor/github.com/aws/aws-sdk-go/aws/types.go
  vendor/github.com/aws/aws-sdk-go/aws/version.go
  vendor/github.com/aws/aws-sdk-go/internal/ini/ini_parser.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/json/jsonutil/unmarshal.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/jsonrpc/jsonrpc.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/query/build.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/query/unmarshal.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/query/unmarshal_error.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/rest/build.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/rest/unmarshal.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/restxml/restxml.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/xml/xmlutil/unmarshal.go
  vendor/github.com/aws/aws-sdk-go/service/dynamodb/api.go
  vendor/github.com/aws/aws-sdk-go/service/dynamodb/errors.go
  vendor/github.com/aws/aws-sdk-go/service/iam/api.go
  vendor/github.com/aws/aws-sdk-go/service/iam/waiters.go
  vendor/github.com/aws/aws-sdk-go/service/s3/api.go
  vendor/github.com/aws/aws-sdk-go/service/s3/bucket_location.go
  vendor/github.com/aws/aws-sdk-go/service/s3/customizations.go
  vendor/github.com/aws/aws-sdk-go/service/s3/sse.go
  vendor/github.com/aws/aws-sdk-go/service/s3/statusok_error.go
  vendor/github.com/aws/aws-sdk-go/service/s3/unmarshal_error.go
  vendor/github.com/aws/aws-sdk-go/service/sts/api.go
  vendor/github.com/aws/aws-sdk-go/service/sts/doc.go
  vendor/github.com/aws/aws-sdk-go/service/sts/errors.go
  vendor/modules.txt
Labels: backend/s3, dependencies

#21806 prevent an empty string from being lost
  builtin/providers/test/resource_defaults_test.go
  helper/plugin/grpc_provider.go
  helper/plugin/grpc_provider_test.go
Labels: provider-sdk

#21879 prevent sdk panics in 2 specific cases
  builtin/providers/test/resource_list.go
  builtin/providers/test/resource_list_test.go
  helper/schema/field_reader_config.go
  helper/schema/field_reader_diff.go
Labels: provider-sdk

#21884 don't append nil elements to a diagnostic cty.Path
  helper/plugin/grpc_provider.go
  helper/plugin/grpc_provider_test.go
Labels: provider-sdk

#21520 Update remote.html.md with backend cli config in v0.12.0
  website/docs/backends/types/remote.html.md
Labels: documentation
