Repository hashicorp/terraform, pull requests merged in 2019-01, with the labels that each got.

#19925 helper/schema: Skip validation of unknown values
  helper/schema/schema.go
  helper/schema/schema_test.go
Labels: bug, provider-sdk

#19926 helper/resource: Shim back to old state must preserve schema version
  helper/resource/state_shim.go
  helper/resource/state_shim_test.go
Labels: bug, provider-sdk

#19916 lang: Add "formatdate" function
  lang/functions.go
  website/docs/configuration/functions/format.html.md
  website/docs/configuration/functions/formatdate.html.md
  website/docs/configuration/functions/timestamp.html.md
Labels: config, enhancement

#19935 helper/resource: Allow multiple providers in a single TestCase
  helper/resource/testing.go
  helper/resource/testing_test.go
Labels: bug, provider-sdk

#19939 command/state: add proper locking
  command/state_mv.go
  command/state_push.go
  command/state_rm.go
Labels: bug, core

#19943 Better handling for empty containers and zero values in provider shims
  builtin/providers/test/resource_nested_set.go
  builtin/providers/test/resource_nested_set_test.go
  builtin/providers/test/resource_nested_test.go
  builtin/providers/test/resource_test.go
  config/hcl2shim/flatmap.go
  config/hcl2shim/flatmap_test.go
  config/hcl2shim/values.go
  config/hcl2shim/values_test.go
  helper/plugin/grpc_provider.go
  helper/plugin/grpc_provider_test.go
  plugin/grpc_provider.go
Labels: bug, provider-sdk

#19941 backend/remote: log early to indicate execution started
  backend/remote/backend_apply.go
  backend/remote/backend_plan.go
Labels: backend/remote, enhancement

#19960 Resource test shims
  builtin/providers/test/resource_nested_test.go
  helper/resource/state_shim.go
  helper/resource/state_shim_test.go
  helper/resource/testing.go
  helper/resource/testing_config.go
  helper/resource/testing_import_state.go
Labels: provider-sdk

#19971 make sure id really gets set in SetId
  helper/schema/resource_data.go
  helper/schema/resource_data_test.go
Labels: provider-sdk

#19951 backend/s3: Configure AWS Client MaxRetries and provide enhanced S3 NoSuchBucket error message
  backend/remote-state/s3/backend.go
  backend/remote-state/s3/backend_state.go
  backend/remote-state/s3/client.go
  website/docs/backends/types/s3.html.md
Labels: backend/s3, enhancement

#19988 Don't add empty blocks to config, and fix ReadResource
  builtin/providers/test/provider.go
  builtin/providers/test/resource_deprecated.go
  builtin/providers/test/resource_deprecated_test.go
  config/hcl2shim/values.go
  config/hcl2shim/values_test.go
  helper/plugin/grpc_provider.go
  helper/resource/state_shim.go
Labels: provider-sdk

#19990 command/format: Ignore removal of empty strings
  command/format/diff.go
  command/format/diff_test.go
Labels: cli, enhancement

#20010 backend/remote: use the correct test operation
  backend/remote/backend_plan_test.go
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-retryablehttp/client.go
  vendor/github.com/hashicorp/go-tfe/README.md
  vendor/github.com/hashicorp/go-tfe/go.mod
  vendor/github.com/hashicorp/go-tfe/go.sum
  vendor/github.com/hashicorp/go-tfe/organization.go
  vendor/github.com/hashicorp/go-tfe/policy_check.go
  vendor/github.com/hashicorp/go-tfe/team_access.go
  vendor/github.com/hashicorp/go-tfe/tfe.go
  vendor/github.com/hashicorp/go-tfe/workspace.go
  vendor/modules.txt
  website/docs/backends/types/remote.html.md
Labels: backend/remote, dependencies

#20012 Fix shims with deeper nested containers
  builtin/providers/test/resource_nested.go
  builtin/providers/test/resource_nested_test.go
  helper/plugin/grpc_provider.go
Labels: provider-sdk

#20005 states/statemgr: Avoid HTML escaping when printing LockInfo
  states/statemgr/locker.go
Labels: bug

#20033 lang/funcs: Type conversion functions
  lang/funcs/conversion.go
  lang/funcs/conversion_test.go
  lang/functions.go
  website/docs/configuration/functions/list.html.md
  website/docs/configuration/functions/map.html.md
  website/docs/configuration/functions/tobool.html.md
  website/docs/configuration/functions/tolist.html.md
  website/docs/configuration/functions/tomap.html.md
  website/docs/configuration/functions/tonumber.html.md
  website/docs/configuration/functions/toset.html.md
  website/docs/configuration/functions/tostring.html.md
  website/layouts/functions.erb
Labels: config, enhancement

#20041 Some fixes for the provider shims
  builtin/providers/test/provider.go
  builtin/providers/test/resource_defaults.go
  builtin/providers/test/resource_defaults_test.go
  builtin/providers/test/resource_nested_set_test.go
  helper/plugin/grpc_provider.go
  helper/plugin/grpc_provider_test.go
Labels: provider-sdk

#20042 command: Update "terraform get" to use the new module installer
  command/get.go
  command/get_test.go
Labels: bug, cli

#20007 backend/remote: add support for remote state only orgs
  backend/remote/backend.go
  backend/remote/backend_apply.go
  backend/remote/backend_apply_test.go
  backend/remote/backend_context.go
  backend/remote/backend_mock.go
  backend/remote/backend_plan.go
  backend/remote/backend_plan_test.go
  backend/remote/backend_state.go
  backend/remote/backend_test.go
  backend/remote/cli.go
  backend/remote/remote_test.go
  backend/remote/test-fixtures/apply-destroy/apply.log
  backend/remote/test-fixtures/apply-policy-passed/apply.log
  backend/remote/test-fixtures/apply-policy-soft-failed/apply.log
  backend/remote/test-fixtures/apply-variables/main.tf
  backend/remote/test-fixtures/apply/apply.log
  backend/remote/test-fixtures/plan-no-changes/main.tf
  backend/remote/test-fixtures/plan-no-changes/plan.log
  backend/remote/test-fixtures/plan-no-changes/policy.log
  backend/remote/test-fixtures/plan-variables/main.tf
  backend/remote/testing.go
  vendor/github.com/hashicorp/go-retryablehttp/client.go
  vendor/vendor.json
  website/docs/backends/types/remote.html.md
Labels: backend/remote, enhancement

#20056 core: Retain prior state if update fails with no new state
  terraform/context_apply_test.go
  terraform/eval_apply.go
  terraform/test-fixtures/apply-issue19908/issue19908.tf
Labels: bug, core

#20057 backend: Undeclared variables in -var-file is a warning, not an error
  backend/unparsed_value.go
Labels: cli, enhancement

#20067 command/format: Fix rendering of unknown elements in set/map/list
  command/format/diff.go
  command/format/diff_test.go
Labels: bug, crash

#20083 config/hcl2shim: ValuesSDKEquivalent float64 comparison of numbers
  config/hcl2shim/values_equiv.go
  config/hcl2shim/values_equiv_test.go
Labels: bug, provider-sdk

#20085 backend/azurerm: fixing the syntax highlighting
  website/docs/backends/types/azurerm.html.md
Labels: backend/azure, documentation

#20071 command/format: Fix nested (JSON) object formatting
  command/format/diff.go
  command/format/diff_test.go
Labels: bug

#20086 backend/remote: make sure we show the correct error
  backend/remote/backend.go
  svchost/disco/host.go
Labels: backend/remote, bug

#20087 backend/remote: make sure we show the correct error
  backend/remote/backend.go
  svchost/disco/host.go
Labels: backend/remote, bug

#20115 lang: New file-hashing functions
  configs/configupgrade/test-fixtures/valid/hash-of-file/input/hash-of-file.tf
  configs/configupgrade/test-fixtures/valid/hash-of-file/want/hash-of-file.tf
  configs/configupgrade/test-fixtures/valid/hash-of-file/want/versions.tf
  configs/configupgrade/upgrade_expr.go
  lang/funcs/crypto.go
  lang/funcs/crypto_test.go
  lang/funcs/filesystem.go
  lang/functions.go
  website/docs/configuration/functions/base64sha256.html.md
  website/docs/configuration/functions/base64sha512.html.md
  website/docs/configuration/functions/filebase64sha256.html.md
  website/docs/configuration/functions/filebase64sha512.html.md
  website/docs/configuration/functions/filemd5.html.md
  website/docs/configuration/functions/filesha1.html.md
  website/docs/configuration/functions/filesha256.html.md
  website/docs/configuration/functions/filesha512.html.md
  website/docs/configuration/functions/md5.html.md
  website/docs/configuration/functions/sha1.html.md
  website/docs/configuration/functions/sha256.html.md
  website/docs/configuration/functions/sha512.html.md
  website/layouts/functions.erb
Labels: config, enhancement

#20116 helper/schema: TypeMap of Resource is actually of TypeString
  helper/schema/core_schema.go
  helper/schema/core_schema_test.go
Labels: bug, provider-sdk

#20148 helper/plugin: Honor resource type overrides in import
  builtin/providers/test/provider.go
  builtin/providers/test/resource_import_other.go
  builtin/providers/test/resource_import_other_test.go
  helper/plugin/grpc_provider.go
  helper/resource/testing_import_state.go
Labels: bug, provider-sdk

#20158 Improve list block handling in diff application
  builtin/providers/test/resource_list_test.go
  builtin/providers/test/resource_nested_set_test.go
  helper/plugin/grpc_provider.go
  terraform/diff.go
Labels: provider-sdk

#20160 decode legacy timeouts
  helper/schema/provider_test.go
  helper/schema/resource_timeout.go
  helper/schema/resource_timeout_test.go
Labels: provider-sdk

#20165 vendor: github.com/hashicorp/terraform-config-inspect@latest
  go.mod
  go.sum
  vendor/modules.txt
Labels: build, dependencies
