Repository hashicorp/terraform, pull requests merged in 2023-08, with the labels that each got.

#33645 build with Go 1.20.7
  .go-version
Labels: 1.5-backport

#33634 Allow `get` and `init -from-module` to complete when there are configuration validation errors
  internal/checks/state_test.go
  internal/command/command_test.go
  internal/command/get.go
  internal/command/init.go
  internal/command/meta_config.go
  internal/initwd/from_module.go
  internal/initwd/from_module_test.go
  internal/initwd/module_install.go
  internal/initwd/module_install_test.go
  internal/initwd/testdata/local-module-missing-provider/main.tf
  internal/initwd/testing.go
  internal/lang/globalref/analyzer_test.go
  internal/refactoring/move_validate_test.go
  internal/terraform/terraform_test.go
Labels: 1.5-backport

#33628 Make config errors more important during init operations
  internal/command/init.go
  internal/command/init_test.go
  internal/command/meta_backend.go
  internal/command/testdata/init-syntax-invalid-backend-attribute-invalid/main.tf
Labels: 1.5-backport

#33631 backend/s3: Updates `aws-sdk-go-base` to `v2`
  go.mod
  go.sum
  internal/backend/remote-state/s3/backend.go
  internal/backend/remote-state/s3/backend_complete_test.go
  internal/backend/remote-state/s3/backend_state.go
  internal/backend/remote-state/s3/backend_test.go
  internal/backend/remote-state/s3/client.go
  internal/backend/remote-state/s3/client_test.go
  internal/backend/remote-state/s3/errors.go
  internal/backend/remote-state/s3/mocks_test.go
  internal/backend/remote-state/s3/validate.go
  internal/backend/remote-state/s3/validate_test.go
Labels: backend/s3, breaking-change

#33670 Update website to reflect new license
  website/docs/intro/terraform-editions.mdx
  website/docs/intro/vs/custom.mdx
Labels: documentation

#33673 backend/s3: Additional validation to `modernization` branch
  go.mod
  internal/backend/remote-state/s3/backend.go
  internal/backend/remote-state/s3/backend_test.go
  internal/backend/remote-state/s3/validate.go
  internal/backend/remote-state/s3/validate_test.go
Labels: backend/s3

#33705 Bump go-tfe to v1.32.1
  go.mod
  go.sum
Labels: 1.5-backport

#33630 backend/s3: Adds nested attribute for `assume_role`
  CHANGELOG.md
  internal/backend/remote-state/s3/backend.go
  internal/backend/remote-state/s3/backend_complete_test.go
  internal/backend/remote-state/s3/backend_test.go
  internal/backend/remote-state/s3/diags.go
  internal/backend/remote-state/s3/testing_test.go
  internal/backend/remote-state/s3/validate.go
  internal/backend/remote-state/s3/validate_test.go
  website/docs/language/settings/backends/s3.mdx
Labels: backend/s3

#33701 Update file name
  .github/workflows/build-terraform-cli.yml
  website/docs/internals/archiving.mdx
Labels: documentation

#33716 backend/s3: add `use_legacy_workflow` argument to `modernization` branch
  go.mod
  go.sum
  internal/backend/remote-state/s3/backend.go
  internal/backend/remote-state/s3/backend_complete_test.go
  website/docs/language/settings/backends/s3.mdx
Labels: backend/s3

#31276 Add assume role with web identity support for the S3 backend
  internal/backend/remote-state/s3/backend.go
  internal/backend/remote-state/s3/backend_complete_test.go
  internal/backend/remote-state/s3/validate.go
  website/docs/language/settings/backends/s3.mdx
Labels: enhancement, backend/s3

#33674 Update debugging.mdx to capitalize Terraform
  website/docs/internals/debugging.mdx
Labels: documentation, 1.4-backport

#33730 backend/s3: Update S3 client to AWS SDK Go V2
  CHANGELOG.md
  go.mod
  go.sum
  internal/backend/remote-state/s3/backend.go
  internal/backend/remote-state/s3/backend_complete_test.go
  internal/backend/remote-state/s3/backend_state.go
  internal/backend/remote-state/s3/backend_test.go
  internal/backend/remote-state/s3/client.go
  internal/backend/remote-state/s3/client_test.go
  internal/backend/remote-state/s3/errors.go
  internal/backend/remote-state/s3/mocks_test.go
  internal/backend/remote-state/s3/validate.go
  internal/backend/remote-state/s3/validate_test.go
  internal/command/test.go
  website/docs/language/settings/backends/s3.mdx
Labels: enhancement, backend/s3

#29678 [backend] kubernetes: fix secret size limitation
  go.mod
  go.sum
  internal/backend/remote-state/kubernetes/backend.go
  internal/backend/remote-state/kubernetes/backend_state.go
  internal/backend/remote-state/kubernetes/client.go
  internal/backend/remote-state/kubernetes/client_test.go
  website/docs/language/settings/backends/kubernetes.mdx
Labels: enhancement, backend/k8s

#33764 Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: documentation

#33656 backend/cos: Support endpoint
  go.mod
  go.sum
  internal/backend/remote-state/cos/backend.go
  internal/backend/remote-state/cos/backend_test.go
  website/docs/language/settings/backends/cos.mdx
Labels: enhancement, backend/cos

#33765 backend/s3: Parity with the AWS provider configuration options
  CHANGELOG.md
  internal/backend/remote-state/s3/backend.go
  internal/backend/remote-state/s3/backend_test.go
  internal/backend/remote-state/s3/validate.go
  website/docs/language/settings/backends/s3.mdx
Labels: enhancement, backend/s3

#33771 backend/s3(docs): expand access control examples
  website/docs/language/settings/backends/s3.mdx
Labels: documentation, backend/s3, 1.6-backport

#33718 Ignore remote version conflict for force-unlock
  CHANGELOG.md
  internal/command/unlock.go
Labels: 1.6-backport
