Repository hashicorp/terraform, changes with the owners that CODEOWNERS names for each.
All owners: @hashicorp/terraform-core, @hashicorp/terraform-azure, @hashicorp/tf-eco-hybrid-cloud, @hashicorp/terraform-aws, @hashicorp/terraform-education, @hashicorp/web-presence

CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# More on CODEOWNERS files: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# The rules are evaluated in order, if a file matches multiple patterns, the last match "wins".
# We want to have a default rule for all files
* @hashicorp/terraform-core

# Entries that are commented out have maintainers that are not in the
# HashiCorp organization and so cannot be automatically added as reviewers.
#
# We retain those as documentation of who agreed to maintain, but they
# cannot be used automatically by GitHub's pull request workflow and would
# make GitHub consider this file invalid if not commented.

# Remote-state backend                  # Maintainer
/internal/backend/remote-state/azure             @hashicorp/terraform-core @hashicorp/terraform-azure
#/internal/backend/remote-state/consul           Unmaintained
#/internal/backend/remote-state/cos              @likexian
/internal/backend/remote-state/gcs               @hashicorp/terraform-core @hashicorp/tf-eco-hybrid-cloud
/internal/backend/remote-state/http              @hashicorp/terraform-core
#/internal/backend/remote-state/oss              @xiaozhu36
#/internal/backend/remote-state/pg               @remilapeyre
/internal/backend/remote-state/s3                @hashicorp/terraform-core @hashicorp/terraform-aws
/internal/backend/remote-state/kubernetes        @hashicorp/terraform-core @hashicorp/tf-eco-hybrid-cloud

# Provisioners
builtin/provisioners/file               @hashicorp/terraform-core
builtin/provisioners/local-exec         @hashicorp/terraform-core
builtin/provisioners/remote-exec        @hashicorp/terraform-core

# Docs on developer.hashicorp.com/terraform/docs
website/        @hashicorp/terraform-core @hashicorp/terraform-education @hashicorp/web-presence

mutexify all maps, move eval context to internal/terraform
  internal/backend/local/test.go
  internal/moduletest/hcl/variable_cache.go
  internal/terraform/eval_test_context.go
  internal/terraform/eval_test_context_test.go
Owners: @hashicorp/terraform-core

Parallelize tf unit tests
  internal/backend/local/test.go
  internal/terraform/graph.go
  internal/terraform/node_test_run.go
  internal/terraform/test_graph_builder.go
  internal/terraform/transform_test_run.go
Owners: @hashicorp/terraform-core

add tests
  internal/command/test_test.go
  internal/command/testdata/test/simple_testdata/main.tf
  internal/command/testdata/test/simple_testdata/test_case_one.tftest.hcl
Owners: @hashicorp/terraform-core

remove stale logs
  internal/terraform/graph.go
  internal/terraform/node_test_run.go
Owners: @hashicorp/terraform-core

Record metadata about the start timestamp for a Run/test case
  internal/backend/local/test.go
  internal/moduletest/run.go
Owners: @hashicorp/terraform-core

Add RFC3339 format timestamp attributes to `<testcase>` elements in JUnit XML output
  internal/command/views/test.go
  internal/moduletest/run.go
Owners: @hashicorp/terraform-core

Use different summaries and details when reporting errors about non-null write-only attribute values (#36274)
  .changes/unreleased/ENHANCEMENTS-20250108-104335.yaml
  internal/lang/ephemeral/validate.go
  internal/refactoring/cross_provider_move.go
  internal/terraform/context_apply_ephemeral_test.go
  internal/terraform/node_resource_abstract_instance.go
  internal/terraform/node_resource_import.go
  internal/terraform/node_resource_plan_instance.go
Owners: @hashicorp/terraform-core

Cpaitalize
  website/data/language-nav-data.json
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

backport of commit c88eb26c7e6902950db7f5bbbc065acfa4707270
  CHANGELOG.md
Owners: @hashicorp/terraform-core

Update CHANGELOG.md
  CHANGELOG.md
Owners: @hashicorp/terraform-core

Rough outline in place
  website/data/language-nav-data.json
  website/docs/language/resources/ephemeral/index.mdx
  website/docs/language/resources/ephemeral/reference.mdx
  website/docs/language/resources/ephemeral/write-only.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

Upgraded github.com/hashicorp/go-slug v0.16.0 => v0.16.3 (#36273)
  go.mod
  go.sum
  internal/backend/remote-state/azure/go.mod
  internal/backend/remote-state/azure/go.sum
  internal/backend/remote-state/consul/go.mod
  internal/backend/remote-state/consul/go.sum
  internal/backend/remote-state/cos/go.mod
  internal/backend/remote-state/cos/go.sum
  internal/backend/remote-state/gcs/go.mod
  internal/backend/remote-state/gcs/go.sum
  internal/backend/remote-state/kubernetes/go.mod
  internal/backend/remote-state/kubernetes/go.sum
  internal/backend/remote-state/oss/go.mod
  internal/backend/remote-state/oss/go.sum
  internal/backend/remote-state/pg/go.mod
  internal/backend/remote-state/pg/go.sum
  internal/backend/remote-state/s3/go.mod
  internal/backend/remote-state/s3/go.sum
  internal/legacy/go.mod
  internal/legacy/go.sum
Owners: @hashicorp/terraform-core, @hashicorp/terraform-azure, @hashicorp/tf-eco-hybrid-cloud, @hashicorp/terraform-aws

Remove duplicated sentence
  website/docs/language/resources/ephemeral/reference.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

Add change file for #36273
  .changes/unreleased/BUG FIXES-20250108-173554.yaml
Owners: @hashicorp/terraform-core

Clean up language and get the outline more defined
  website/docs/language/resources/ephemeral/index.mdx
  website/docs/language/resources/ephemeral/reference.mdx
  website/docs/language/resources/ephemeral/write-only.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

Fix language file
  website/data/language-nav-data.json
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

chore: make syncdeps
  go.mod
  go.sum
  internal/backend/remote-state/azure/go.mod
  internal/backend/remote-state/azure/go.sum
  internal/backend/remote-state/consul/go.mod
  internal/backend/remote-state/consul/go.sum
  internal/backend/remote-state/cos/go.mod
  internal/backend/remote-state/cos/go.sum
  internal/backend/remote-state/gcs/go.mod
  internal/backend/remote-state/gcs/go.sum
  internal/backend/remote-state/kubernetes/go.mod
  internal/backend/remote-state/kubernetes/go.sum
  internal/backend/remote-state/oss/go.mod
  internal/backend/remote-state/oss/go.sum
  internal/backend/remote-state/pg/go.mod
  internal/backend/remote-state/pg/go.sum
  internal/legacy/go.mod
  internal/legacy/go.sum
Owners: @hashicorp/terraform-core, @hashicorp/terraform-azure, @hashicorp/tf-eco-hybrid-cloud

adds subfolders for organizing some functions in the nav
  website/data/language-nav-data.json
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

Build and execute tf test file runs in a graph
  internal/backend/local/test.go
  internal/command/test_test.go
  internal/command/testdata/test/simple_testdata/main.tf
  internal/command/testdata/test/simple_testdata/test_case_one.tftest.hcl
  internal/terraform/node_test_run.go
  internal/terraform/test_graph_builder.go
  internal/terraform/transform_test_run.go
Owners: @hashicorp/terraform-core

move test eval context to internal/terraform
  internal/backend/local/test.go
  internal/terraform/eval_test_context.go
  internal/terraform/eval_test_context_test.go
  internal/terraform/test_graph_builder.go
Owners: @hashicorp/terraform-core

terminate graph when there is a hard stop request
  internal/backend/local/test.go
  internal/dag/dag.go
  internal/dag/marshal.go
  internal/dag/walk.go
Owners: @hashicorp/terraform-core

fix tests
  internal/dag/dag.go
  internal/dag/walk.go
  internal/dag/walk_test.go
Owners: @hashicorp/terraform-core

Ensure timestamps are saved as and rendered as UTC timestamps
  internal/backend/local/test.go
  internal/moduletest/run.go
Owners: @hashicorp/terraform-core

add extra debug statement to try and get more info
  .changes/1.11.1.md
  .changes/1.11.2.md
  internal/stacks/stackruntime/internal/stackeval/component_instance.go
Owners: @hashicorp/terraform-core

Check for non-null WO attrs when a state upgrade takes place
  internal/terraform/upgrade_resource_state.go
Owners: @hashicorp/terraform-core

wip: testing new validation
  internal/terraform/context_plan2_test.go
Owners: @hashicorp/terraform-core

update test and let it pass
  internal/terraform/context_plan2_test.go
Owners: @hashicorp/terraform-core

updates the draft of the resource block
  website/docs/language/reference/resource.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

unsaved changes to resource block
  website/docs/language/reference/resource.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

Update website/docs/language/backend/oss.mdx
  website/docs/language/backend/oss.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

Update website/docs/language/backend/oss.mdx
  website/docs/language/backend/oss.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

Add start time timestamps to `<testcase>`/Run data in JUnit XML output from `terraform test` (#36295)
  internal/backend/local/test.go
  internal/command/views/test.go
  internal/moduletest/run.go
Owners: @hashicorp/terraform-core

Refactor JUnit XML output to use new concept of an Artifact
  internal/backend/local/test.go
  internal/command/test.go
  internal/command/views/test.go
Owners: @hashicorp/terraform-core

Move JUnit-related code into new `artifact` package
  internal/backend/local/test.go
  internal/command/artifact/junit.go
  internal/command/test.go
  internal/command/views/test.go
Owners: @hashicorp/terraform-core

Refactor Artifact's Save method to return diagnostics, update comments
  internal/backend/local/test.go
  internal/command/artifact/junit.go
Owners: @hashicorp/terraform-core

Make junitXMLTestReport output deterministic by iterating over a slice instead of a map, add test
  internal/command/artifact/junit.go
  internal/command/artifact/junit_test.go
Owners: @hashicorp/terraform-core

Provide sources to junitXMLTestReport, allowing complete error messages in the XML
  internal/command/artifact/junit.go
  internal/command/test.go
Owners: @hashicorp/terraform-core

Whitespace
  internal/command/test.go
Owners: @hashicorp/terraform-core

Add some test coverage for JUnit XML output for `terraform test`
  internal/command/test_test.go
  internal/command/testdata/test/junit-output/1pass-1fail/expected-output.xml
  internal/command/testdata/test/junit-output/1pass-1fail/main.tf
  internal/command/testdata/test/junit-output/1pass-1fail/main.tftest.hcl
  internal/command/testdata/test/junit-output/missing-provider/expected-output.xml
  internal/command/testdata/test/junit-output/missing-provider/main.tf
  internal/command/testdata/test/junit-output/missing-provider/main.tftest.hcl
  internal/command/testdata/test/junit-output/multiple-files/expected-output.xml
  internal/command/testdata/test/junit-output/multiple-files/main.tf
  internal/command/testdata/test/junit-output/multiple-files/one.tftest.hcl
  internal/command/testdata/test/junit-output/multiple-files/two.tftest.hcl
Owners: @hashicorp/terraform-core

Refactor how file is saved, add tests
  internal/command/artifact/junit.go
  internal/command/artifact/junit_test.go
Owners: @hashicorp/terraform-core
