Repository hashicorp/terraform, changes with the owners that CODEOWNERS names for each.
All owners: @hashicorp/terraform-core, @hashicorp/terraform-azure, @hashicorp/tf-eco-hybrid-cloud, @hashicorp/terraform-aws, @hashicorp/terraform-education, @hashicorp/web-presence

CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# More on CODEOWNERS files: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# The rules are evaluated in order, if a file matches multiple patterns, the last match "wins".
# We want to have a default rule for all files
* @hashicorp/terraform-core

# Entries that are commented out have maintainers that are not in the
# HashiCorp organization and so cannot be automatically added as reviewers.
#
# We retain those as documentation of who agreed to maintain, but they
# cannot be used automatically by GitHub's pull request workflow and would
# make GitHub consider this file invalid if not commented.

# Remote-state backend                  # Maintainer
/internal/backend/remote-state/azure             @hashicorp/terraform-core @hashicorp/terraform-azure
#/internal/backend/remote-state/consul           Unmaintained
#/internal/backend/remote-state/cos              @likexian
/internal/backend/remote-state/gcs               @hashicorp/terraform-core @hashicorp/tf-eco-hybrid-cloud
/internal/backend/remote-state/http              @hashicorp/terraform-core
#/internal/backend/remote-state/oss              @xiaozhu36
#/internal/backend/remote-state/pg               @remilapeyre
/internal/backend/remote-state/s3                @hashicorp/terraform-core @hashicorp/terraform-aws
/internal/backend/remote-state/kubernetes        @hashicorp/terraform-core @hashicorp/tf-eco-hybrid-cloud

# Provisioners
builtin/provisioners/file               @hashicorp/terraform-core
builtin/provisioners/local-exec         @hashicorp/terraform-core
builtin/provisioners/remote-exec        @hashicorp/terraform-core

# Docs on developer.hashicorp.com/terraform/docs
website/        @hashicorp/terraform-core @hashicorp/terraform-education @hashicorp/web-presence

address comments
  internal/stacks/stackruntime/apply_destroy_test.go
  internal/stacks/stackruntime/testdata/mainbundle/test/destroy-partial-state/child/child.tf
  internal/stacks/stackruntime/testdata/mainbundle/test/destroy-partial-state/main.tfstack.hcl
  internal/stacks/stackruntime/testdata/mainbundle/test/destroy-partial-state/parent/parent.tf
Owners: @hashicorp/terraform-core

Add to changelog
  .changes/unreleased/.gitkeep
Owners: @hashicorp/terraform-core

Change error string
  internal/backend/remote/backend_test.go
Owners: @hashicorp/terraform-core

Update backend.go
  internal/backend/remote/backend.go
Owners: @hashicorp/terraform-core

remove comments
  internal/backend/remote/backend.go
Owners: @hashicorp/terraform-core

add yaml to changelog
  .changes/unreleased/.gitkeep
  .changes/unreleased/01-17-25.yaml
Owners: @hashicorp/terraform-core

Change yaml format
  .changes/unreleased/01-17-25.yaml
  .changes/unreleased/BUG FIXES-20250117-104335.yaml
Owners: @hashicorp/terraform-core

rewrite EvalContext
  internal/backend/local/test.go
  internal/moduletest/graph/eval_context.go
  internal/moduletest/graph/eval_context_test.go
Owners: @hashicorp/terraform-core

add VariableCaches to EvalContext
  internal/backend/local/test.go
  internal/moduletest/graph/eval_context.go
Owners: @hashicorp/terraform-core

add providers into graph
  internal/backend/local/test.go
  internal/moduletest/config/config.go
  internal/moduletest/config/config_test.go
  internal/moduletest/graph/eval_context.go
  internal/moduletest/graph/node_test_run.go
  internal/moduletest/graph/test_graph_builder.go
  internal/moduletest/graph/transform_providers.go
Owners: @hashicorp/terraform-core

Small docu typo fixes in debugging.md
  docs/debugging.md
Owners: @hashicorp/terraform-core

Documentaion update in dependency-upgrades.md
  docs/dependency-upgrades.md
Owners: @hashicorp/terraform-core

cache lock synchronization
  internal/backend/local/test.go
  internal/command/testdata/test/shared_state_parallel/parallel.tftest.hcl
  internal/moduletest/hcl/variable_cache.go
Owners: @hashicorp/terraform-core

Replace giovanni from tombuildsstuff org to jackofallops
  go.mod
  go.sum
  internal/backend/remote-state/azure/api_client.go
  internal/backend/remote-state/azure/backend_state.go
  internal/backend/remote-state/azure/client.go
  internal/backend/remote-state/azure/client_test.go
  internal/backend/remote-state/azure/go.mod
  internal/backend/remote-state/azure/go.sum
  internal/backend/remote-state/azure/helpers_test.go
Owners: @hashicorp/terraform-core, @hashicorp/terraform-azure

deferred actions: don't plan partial resources during refresh and destroy (#36310)
  internal/stacks/stackruntime/apply_destroy_test.go
  internal/stacks/stackruntime/internal/stackeval/refresh_instance.go
  internal/stacks/stackruntime/testdata/mainbundle/test/destroy-partial-state/child/child.tf
  internal/stacks/stackruntime/testdata/mainbundle/test/destroy-partial-state/main.tfstack.hcl
  internal/stacks/stackruntime/testdata/mainbundle/test/destroy-partial-state/parent/parent.tf
  internal/terraform/context_apply_deferred_test.go
  internal/terraform/node_resource_partial_plan.go
  internal/terraform/node_resource_plan_partialexp.go
Owners: @hashicorp/terraform-core

stacks: allow unknown variables during apply operations (#36311)
  internal/stacks/stackruntime/apply_destroy_test.go
  internal/stacks/stackruntime/apply_test.go
  internal/stacks/stackruntime/internal/stackeval/component_instance.go
  internal/stacks/stackruntime/internal/stackeval/input_variable.go
  internal/stacks/stackruntime/testdata/mainbundle/test/removed-offline/child/child.tf
  internal/stacks/stackruntime/testdata/mainbundle/test/removed-offline/parent/parent.tf
  internal/stacks/stackruntime/testdata/mainbundle/test/removed-offline/removed-offline.tfstack.hcl
Owners: @hashicorp/terraform-core

faet:implement transpose list
  internal/functions/list/functions.go
  internal/functions/list/transpose.go
  internal/functions/list/transpose_test.go
Owners: @hashicorp/terraform-core

Upgrade hashicorp/go-getter dependency (#36326)
  go.mod
  go.sum
  internal/backend/remote-state/azure/go.mod
  internal/backend/remote-state/azure/go.sum
  internal/backend/remote-state/consul/go.mod
  internal/backend/remote-state/consul/go.sum
  internal/backend/remote-state/cos/go.mod
  internal/backend/remote-state/cos/go.sum
  internal/backend/remote-state/gcs/go.mod
  internal/backend/remote-state/gcs/go.sum
  internal/backend/remote-state/kubernetes/go.mod
  internal/backend/remote-state/kubernetes/go.sum
  internal/backend/remote-state/oss/go.mod
  internal/backend/remote-state/oss/go.sum
  internal/backend/remote-state/pg/go.mod
  internal/backend/remote-state/pg/go.sum
  internal/backend/remote-state/s3/go.mod
  internal/backend/remote-state/s3/go.sum
  internal/legacy/go.mod
  internal/legacy/go.sum
Owners: @hashicorp/terraform-core, @hashicorp/terraform-azure, @hashicorp/tf-eco-hybrid-cloud, @hashicorp/terraform-aws

Update XML example to reflect recent changes
  website/docs/cli/commands/test.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

backport of commit 97789c6e2e32182afda1b0d83f1db8c3c8055a65
  website/docs/cli/commands/test.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

Simplify content
  website/docs/cli/commands/test.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

backport of commit 1cb62b5c4d11ebc3e9daa937510ae079e052dfeb
  website/docs/cli/commands/test.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

Apply suggestions from code review
  website/docs/cli/commands/test.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

backport of commit 5510c110d92d40458c1bf0a9a5b29fef2789a8ad
  website/docs/cli/commands/test.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

Remove unused diagnostic string
  internal/command/junit/junit.go
Owners: @hashicorp/terraform-core

backport of commit 855f2e940a53ec428696c571e7f04a191e0063dd
  internal/command/junit/junit.go
  internal/command/testdata/test/junit-output/1pass-1fail/expected-output.xml
  internal/command/testdata/test/junit-output/1pass-1fail/main.tftest.hcl
Owners: @hashicorp/terraform-core

backport of commit 132b8bda6d6c3ec058e98c3b34adf823b4a2b22d
  internal/command/junit/junit.go
Owners: @hashicorp/terraform-core

Add details to `<failure>` element describing which assertion failed
  internal/command/junit/junit.go
  internal/command/testdata/test/junit-output/1pass-1fail/expected-output.xml
  internal/command/testdata/test/junit-output/1pass-1fail/main.tftest.hcl
Owners: @hashicorp/terraform-core

Set `message` attribute of `<failure>` element to failed assertion's error message
  internal/command/junit/junit.go
  internal/command/testdata/test/junit-output/1pass-1fail/expected-output.xml
Owners: @hashicorp/terraform-core

backport of commit d8da87ee8237ab7e00d7fa52472c11b9380b4c56
  internal/command/junit/junit.go
  internal/command/testdata/test/junit-output/1pass-1fail/expected-output.xml
Owners: @hashicorp/terraform-core

Update test fixtures
  internal/command/testdata/test/junit-output/1pass-1fail/expected-output.xml
Owners: @hashicorp/terraform-core

backport of commit 5aea43eeb0dafbb4471b86af6f64fd223bad1aef
  internal/command/junit/junit.go
Owners: @hashicorp/terraform-core

Ensure that system-err is only added when needed
  internal/command/junit/junit.go
Owners: @hashicorp/terraform-core

backport of commit 080505c2031d2f34e4b087138324f578b3ee1ff8
  internal/command/testdata/test/junit-output/1pass-1fail/expected-output.xml
Owners: @hashicorp/terraform-core

Make `<failure>` contain diagnostic's message, refactor how `message` attribute is set
  internal/command/junit/junit.go
Owners: @hashicorp/terraform-core

backport of commit b0ea07849db8277d8cf85d6ae6a3cc23b0cff091
  internal/command/junit/junit.go
Owners: @hashicorp/terraform-core

Update dependency-upgrades.md
  docs/dependency-upgrades.md
Owners: @hashicorp/terraform-core

update go-cty to latest patch release
  .changes/backported/BUG FIXES-20250122-082755.yaml
  go.mod
  go.sum
  internal/backend/remote-state/azure/go.mod
  internal/backend/remote-state/azure/go.sum
  internal/backend/remote-state/consul/go.mod
  internal/backend/remote-state/consul/go.sum
  internal/backend/remote-state/cos/go.mod
  internal/backend/remote-state/cos/go.sum
  internal/backend/remote-state/gcs/go.mod
  internal/backend/remote-state/gcs/go.sum
  internal/backend/remote-state/kubernetes/go.mod
  internal/backend/remote-state/kubernetes/go.sum
  internal/backend/remote-state/oss/go.mod
  internal/backend/remote-state/oss/go.sum
  internal/backend/remote-state/pg/go.mod
  internal/backend/remote-state/pg/go.sum
  internal/backend/remote-state/s3/go.mod
  internal/backend/remote-state/s3/go.sum
  internal/legacy/go.mod
  internal/legacy/go.sum
Owners: @hashicorp/terraform-core, @hashicorp/terraform-azure, @hashicorp/tf-eco-hybrid-cloud, @hashicorp/terraform-aws

Upgraded github.com/hashicorp/go-slug v0.16.0 => v0.16.3
  .changes/backported/BUG FIXES-20250122-083138.yaml
Owners: @hashicorp/terraform-core

remove go-slug upgrade from v1.11 changelog
  .changes/backported/BUG FIXES-20250108-173554.yaml
  CHANGELOG.md
Owners: @hashicorp/terraform-core
