Repository hashicorp/terraform, changes with the owners that CODEOWNERS names for each.
All owners: @hashicorp/terraform-core, @hashicorp/terraform-azure, @hashicorp/tf-eco-hybrid-cloud, @hashicorp/terraform-aws, @hashicorp/terraform-education, @hashicorp/web-presence

also fixes other bug
  .changes/backported/BUG FIXES-20250122-110052.yaml
Owners: @hashicorp/terraform-core

remove go-slug upgrade from v1.11 changelog (#36378)
  .changes/backported/BUG FIXES-20250108-173554.yaml
  CHANGELOG.md
Owners: @hashicorp/terraform-core

Update .changes/backported/BUG FIXES-20250122-083138.yaml
  .changes/backported/BUG FIXES-20250122-083138.yaml
Owners: @hashicorp/terraform-core

Add go-slug upgrade to v1.10 changelog (#36377)
  .changes/backported/BUG FIXES-20250122-083138.yaml
Owners: @hashicorp/terraform-core

update go-cty to latest patch release (#36376)
  .changes/backported/BUG FIXES-20250122-082755.yaml
  .changes/backported/BUG FIXES-20250122-110052.yaml
  go.mod
  go.sum
  internal/backend/remote-state/azure/go.mod
  internal/backend/remote-state/azure/go.sum
  internal/backend/remote-state/consul/go.mod
  internal/backend/remote-state/consul/go.sum
  internal/backend/remote-state/cos/go.mod
  internal/backend/remote-state/cos/go.sum
  internal/backend/remote-state/gcs/go.mod
  internal/backend/remote-state/gcs/go.sum
  internal/backend/remote-state/kubernetes/go.mod
  internal/backend/remote-state/kubernetes/go.sum
  internal/backend/remote-state/oss/go.mod
  internal/backend/remote-state/oss/go.sum
  internal/backend/remote-state/pg/go.mod
  internal/backend/remote-state/pg/go.sum
  internal/backend/remote-state/s3/go.mod
  internal/backend/remote-state/s3/go.sum
  internal/legacy/go.mod
  internal/legacy/go.sum
Owners: @hashicorp/terraform-core, @hashicorp/terraform-azure, @hashicorp/tf-eco-hybrid-cloud, @hashicorp/terraform-aws

backport of update go-cty to latest patch release
  .changes/backported/BUG FIXES-20250122-082755.yaml
  .changes/backported/BUG FIXES-20250122-110052.yaml
  go.mod
  go.sum
  internal/backend/remote-state/azure/go.mod
  internal/backend/remote-state/azure/go.sum
  internal/backend/remote-state/consul/go.mod
  internal/backend/remote-state/consul/go.sum
  internal/backend/remote-state/cos/go.mod
  internal/backend/remote-state/cos/go.sum
  internal/backend/remote-state/gcs/go.mod
  internal/backend/remote-state/gcs/go.sum
  internal/backend/remote-state/kubernetes/go.mod
  internal/backend/remote-state/kubernetes/go.sum
  internal/backend/remote-state/oss/go.mod
  internal/backend/remote-state/oss/go.sum
  internal/backend/remote-state/pg/go.mod
  internal/backend/remote-state/pg/go.sum
  internal/backend/remote-state/s3/go.mod
  internal/backend/remote-state/s3/go.sum
  internal/legacy/go.mod
  internal/legacy/go.sum
Owners: @hashicorp/terraform-core, @hashicorp/terraform-azure, @hashicorp/tf-eco-hybrid-cloud, @hashicorp/terraform-aws

backport of update go-cty to latest patch release (#36381)
  .changes/backported/BUG FIXES-20250122-082755.yaml
  .changes/backported/BUG FIXES-20250122-110052.yaml
  go.mod
  go.sum
  internal/backend/remote-state/azure/go.mod
  internal/backend/remote-state/azure/go.sum
  internal/backend/remote-state/consul/go.mod
  internal/backend/remote-state/consul/go.sum
  internal/backend/remote-state/cos/go.mod
  internal/backend/remote-state/cos/go.sum
  internal/backend/remote-state/gcs/go.mod
  internal/backend/remote-state/gcs/go.sum
  internal/backend/remote-state/kubernetes/go.mod
  internal/backend/remote-state/kubernetes/go.sum
  internal/backend/remote-state/oss/go.mod
  internal/backend/remote-state/oss/go.sum
  internal/backend/remote-state/pg/go.mod
  internal/backend/remote-state/pg/go.sum
  internal/backend/remote-state/s3/go.mod
  internal/backend/remote-state/s3/go.sum
  internal/legacy/go.mod
  internal/legacy/go.sum
Owners: @hashicorp/terraform-core, @hashicorp/terraform-azure, @hashicorp/tf-eco-hybrid-cloud, @hashicorp/terraform-aws

backport of commit b6798ae702022eefdf524c914bedc1dfaa78a58c
  internal/command/junit/junit.go
  internal/command/junit/junit_internal_test.go
  internal/command/testdata/test/junit-output/1pass-1fail/expected-output.xml
Owners: @hashicorp/terraform-core

Make diags usage clearer, ensure all test failure diags in "failure" element
  internal/command/junit/junit.go
  internal/command/junit/junit_internal_test.go
  internal/command/testdata/test/junit-output/1pass-1fail/expected-output.xml
Owners: @hashicorp/terraform-core

backport of commit add24c64289e096a98281c2f84fb006299626e6c
  internal/command/junit/junit.go
  internal/command/junit/junit_internal_test.go
Owners: @hashicorp/terraform-core

Refactor how "skipped" element value is set
  internal/command/junit/junit.go
  internal/command/junit/junit_internal_test.go
Owners: @hashicorp/terraform-core

Fix failing test Test_TestJUnitXMLFile_Save
  internal/command/junit/junit.go
Owners: @hashicorp/terraform-core

backport of commit 0bbcfdda1dffcceb740bac9139ecd85f9f26a3c7
  internal/command/junit/junit.go
Owners: @hashicorp/terraform-core

Add new deprecated attribute to output blocks
  internal/configs/named_values.go
  internal/configs/named_values_test.go
Owners: @hashicorp/terraform-core

WIP
  internal/plans/changes.go
  internal/stacks/stackplan/planned_change.go
  internal/terraform/context_plan.go
  internal/terraform/context_validate_test.go
  internal/terraform/eval_context.go
  internal/terraform/eval_context_builtin.go
  internal/terraform/eval_context_mock.go
  internal/terraform/graph_walk_context.go
  internal/terraform/node_output.go
  internal/terraform/node_resource_validate.go
Owners: @hashicorp/terraform-core

Cleanup
  internal/terraform/eval_context_builtin.go
  internal/terraform/graph_builder_apply.go
  internal/terraform/graph_builder_plan.go
  internal/terraform/node_output.go
  internal/terraform/transform_output.go
  internal/terraform/transform_output_references.go
Owners: @hashicorp/terraform-core

WIP2
  internal/terraform/context_validate_test.go
  internal/terraform/eval_context_builtin.go
  internal/terraform/node_module_variable.go
Owners: @hashicorp/terraform-core

Add diagnostic for deprecated outputs
  internal/terraform/context_validate_test.go
  internal/terraform/node_output.go
Owners: @hashicorp/terraform-core

Track output dependants in an extra graph transformer
  internal/terraform/graph_builder_apply.go
  internal/terraform/graph_builder_plan.go
  internal/terraform/node_output.go
  internal/terraform/transform_output.go
  internal/terraform/transform_output_references.go
Owners: @hashicorp/terraform-core

Prepare before 1.10.5 release
  .changes/1.10.5.md
  .changes/backported/BUG FIXES-20250122-082755.yaml
  .changes/backported/BUG FIXES-20250122-083138.yaml
  .changes/backported/BUG FIXES-20250122-110052.yaml
  CHANGELOG.md
  version/VERSION
Owners: @hashicorp/terraform-core

Expand testcase
  internal/terraform/context_validate_test.go
Owners: @hashicorp/terraform-core

Change JUnit `terraform test` output to include test failure details inside `<failure>` elements, use the error message as the `message` attribute (#36316)
  internal/command/junit/junit.go
  internal/command/junit/junit_internal_test.go
  internal/command/testdata/test/junit-output/1pass-1fail/expected-output.xml
  internal/command/testdata/test/junit-output/1pass-1fail/main.tftest.hcl
Owners: @hashicorp/terraform-core

Add documentation for JUnit output from 'terraform test' (#36307)
  website/docs/cli/commands/test.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

Add `DiagnosticComparer` to standardize how diagnostics are compared for equality. This uses code originally in the s3 backend.
  internal/tfdiags/compare.go
  internal/tfdiags/compare_test.go
Owners: @hashicorp/terraform-core

Replace use of reflect and go-spew with new diagnostics comparison approach
  internal/command/arguments/modules_test.go
  internal/command/arguments/output_test.go
  internal/command/arguments/show_test.go
  internal/command/arguments/test_test.go
  internal/command/arguments/validate_test.go
Owners: @hashicorp/terraform-core

Fix whitespace
  internal/command/junit/junit_internal_test.go
Owners: @hashicorp/terraform-core

Refactor `test` related code to use new comparer
  internal/command/junit/junit_internal_test.go
Owners: @hashicorp/terraform-core

Refactor `s3` related code to use new comparer
  internal/backend/remote-state/s3/backend_complete_test.go
  internal/backend/remote-state/s3/backend_test.go
  internal/backend/remote-state/s3/testing_test.go
  internal/backend/remote-state/s3/validate_test.go
Owners: @hashicorp/terraform-core, @hashicorp/terraform-aws

Make `tfdiags.DiagnosticComparer` a var
  internal/backend/remote-state/s3/backend_complete_test.go
  internal/backend/remote-state/s3/backend_test.go
  internal/backend/remote-state/s3/validate_test.go
  internal/command/arguments/modules_test.go
  internal/command/arguments/output_test.go
  internal/command/arguments/show_test.go
  internal/command/arguments/test_test.go
  internal/command/arguments/validate_test.go
  internal/command/junit/junit_internal_test.go
  internal/tfdiags/compare.go
Owners: @hashicorp/terraform-core, @hashicorp/terraform-aws

Fix DiagnosticComparer test
  internal/tfdiags/compare_test.go
Owners: @hashicorp/terraform-core

Add reusable Diagnostic comparer to `tfdiags` package (#36385)
  internal/backend/remote-state/s3/backend_complete_test.go
  internal/backend/remote-state/s3/backend_test.go
  internal/backend/remote-state/s3/testing_test.go
  internal/backend/remote-state/s3/validate_test.go
  internal/command/arguments/modules_test.go
  internal/command/arguments/output_test.go
  internal/command/arguments/show_test.go
  internal/command/arguments/test_test.go
  internal/command/arguments/validate_test.go
  internal/command/junit/junit_internal_test.go
  internal/tfdiags/compare.go
  internal/tfdiags/compare_test.go
Owners: @hashicorp/terraform-core, @hashicorp/terraform-aws

Cleanup after 1.10.5 release
  version/VERSION
Owners: @hashicorp/terraform-core

Use context instead of channel to signal cancellation from the caller to child nodes in the graph
  internal/dag/dag.go
  internal/dag/dag_test.go
  internal/dag/walk.go
  internal/dag/walk_test.go
  internal/terraform/eval_context.go
  internal/terraform/graph.go
Owners: @hashicorp/terraform-core

tfdiags: add Warnings method
  internal/command/junit/junit.go
  internal/command/junit/junit_internal_test.go
  internal/tfdiags/diagnostics.go
  internal/tfdiags/diagnostics_test.go
Owners: @hashicorp/terraform-core

tfdiags: add Warnings method (#36392)
  internal/command/junit/junit.go
  internal/command/junit/junit_internal_test.go
  internal/tfdiags/diagnostics.go
  internal/tfdiags/diagnostics_test.go
Owners: @hashicorp/terraform-core

deprecation mark
  internal/lang/marks/marks.go
  internal/terraform/evaluate.go
Owners: @hashicorp/terraform-core

Update JUnit test report logic to use new method of identifying diagnostics specifically about failed assertions in run blocks
  internal/command/junit/junit.go
Owners: @hashicorp/terraform-core

Add new DiagnosticCausedByTestFailure type of Extra for use in diagnostics raised due to a failing test assertion
  internal/moduletest/eval_context.go
  internal/terraform/diagnostics.go
  internal/tfdiags/diagnostic_extra.go
Owners: @hashicorp/terraform-core

Add change file
  .changes/unreleased/ENHANCEMENTS-20250123-173726.yaml
Owners: @hashicorp/terraform-core

resources must be refreshed before plan
  internal/terraform/context_plan2_test.go
  internal/terraform/node_resource_plan_orphan.go
Owners: @hashicorp/terraform-core

CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# More on CODEOWNERS files: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# The rules are evaluated in order, if a file matches multiple patterns, the last match "wins".
# We want to have a default rule for all files
* @hashicorp/terraform-core

# Entries that are commented out have maintainers that are not in the
# HashiCorp organization and so cannot be automatically added as reviewers.
#
# We retain those as documentation of who agreed to maintain, but they
# cannot be used automatically by GitHub's pull request workflow and would
# make GitHub consider this file invalid if not commented.

# Remote-state backend                  # Maintainer
/internal/backend/remote-state/azure             @hashicorp/terraform-core @hashicorp/terraform-azure
#/internal/backend/remote-state/consul           Unmaintained
#/internal/backend/remote-state/cos              @likexian
/internal/backend/remote-state/gcs               @hashicorp/terraform-core @hashicorp/tf-eco-hybrid-cloud
/internal/backend/remote-state/http              @hashicorp/terraform-core
#/internal/backend/remote-state/oss              @xiaozhu36
#/internal/backend/remote-state/pg               @remilapeyre
/internal/backend/remote-state/s3                @hashicorp/terraform-core @hashicorp/terraform-aws
/internal/backend/remote-state/kubernetes        @hashicorp/terraform-core @hashicorp/tf-eco-hybrid-cloud

# Provisioners
builtin/provisioners/file               @hashicorp/terraform-core
builtin/provisioners/local-exec         @hashicorp/terraform-core
builtin/provisioners/remote-exec        @hashicorp/terraform-core

# Docs on developer.hashicorp.com/terraform/docs
website/        @hashicorp/terraform-core @hashicorp/terraform-education @hashicorp/web-presence
