Repository hashicorp/terraform, changes with the owners that CODEOWNERS names for each.
All owners: @hashicorp/terraform-core, @hashicorp/terraform-azure, @hashicorp/tf-eco-hybrid-cloud, @hashicorp/terraform-aws, @hashicorp/terraform-education, @hashicorp/web-presence

CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# More on CODEOWNERS files: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# The rules are evaluated in order, if a file matches multiple patterns, the last match "wins".
# We want to have a default rule for all files
* @hashicorp/terraform-core

# Entries that are commented out have maintainers that are not in the
# HashiCorp organization and so cannot be automatically added as reviewers.
#
# We retain those as documentation of who agreed to maintain, but they
# cannot be used automatically by GitHub's pull request workflow and would
# make GitHub consider this file invalid if not commented.

# Remote-state backend                  # Maintainer
/internal/backend/remote-state/azure             @hashicorp/terraform-core @hashicorp/terraform-azure
#/internal/backend/remote-state/consul           Unmaintained
#/internal/backend/remote-state/cos              @likexian
/internal/backend/remote-state/gcs               @hashicorp/terraform-core @hashicorp/tf-eco-hybrid-cloud
/internal/backend/remote-state/http              @hashicorp/terraform-core
#/internal/backend/remote-state/oss              @xiaozhu36
#/internal/backend/remote-state/pg               @remilapeyre
/internal/backend/remote-state/s3                @hashicorp/terraform-core @hashicorp/terraform-aws
/internal/backend/remote-state/kubernetes        @hashicorp/terraform-core @hashicorp/tf-eco-hybrid-cloud

# Provisioners
builtin/provisioners/file               @hashicorp/terraform-core
builtin/provisioners/local-exec         @hashicorp/terraform-core
builtin/provisioners/remote-exec        @hashicorp/terraform-core

# Docs on developer.hashicorp.com/terraform/docs
website/        @hashicorp/terraform-core @hashicorp/terraform-education @hashicorp/web-presence

backport of commit e685e91b4e97ae7f75e840beb3a7f645e2cff8d0
  website/docs/cli/commands/test.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

Document flag incompatibilty in docs
  website/docs/cli/commands/test.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

Promote JUnit output 'terraform test' feature from experimental status, make incompatibility with remote test execution explicit via flag validation (#36324)
  .changes/unreleased/NEW FEATURES-20250115-110818.yaml
  internal/command/arguments/test.go
  internal/command/arguments/test_test.go
  internal/command/test.go
Owners: @hashicorp/terraform-core

fix: Allow WriteOnly attributes to require replacement (#36313)
  internal/configs/configschema/implied_type.go
  internal/configs/configschema/implied_type_test.go
  internal/configs/configschema/write_only.go
  internal/configs/configschema/write_only_test.go
  internal/terraform/context_plan2_test.go
  internal/terraform/node_resource_abstract_instance.go
Owners: @hashicorp/terraform-core

Prepare main for 1.12
  .changes/1.11.0.md
  .changes/1.12.0.md
  .changes/previous-releases.md
  .changes/unreleased/BUG FIXES-20250108-173554.yaml
  .changes/unreleased/ENHANCEMENTS-20250102-130808.yaml
  .changes/unreleased/ENHANCEMENTS-20250102-131022.yaml
  .changes/unreleased/ENHANCEMENTS-20250108-104335.yaml
  .changes/unreleased/ENHANCEMENTS-20250108-113433.yaml
  .changes/unreleased/NEW FEATURES-20250107-125354.yaml
  .changes/unreleased/NEW FEATURES-20250115-110818.yaml
  CHANGELOG.md
  version/VERSION
Owners: @hashicorp/terraform-core

Prepare main for 1.12 (#36327)
  .changes/1.11.0.md
  .changes/1.12.0.md
  .changes/previous-releases.md
  .changes/unreleased/BUG FIXES-20250108-173554.yaml
  .changes/unreleased/ENHANCEMENTS-20250102-130808.yaml
  .changes/unreleased/ENHANCEMENTS-20250102-131022.yaml
  .changes/unreleased/ENHANCEMENTS-20250108-104335.yaml
  .changes/unreleased/ENHANCEMENTS-20250108-113433.yaml
  .changes/unreleased/NEW FEATURES-20250107-125354.yaml
  .changes/unreleased/NEW FEATURES-20250115-110818.yaml
  CHANGELOG.md
  version/VERSION
Owners: @hashicorp/terraform-core

Prepare before 1.11.0-beta1 release
  CHANGELOG.md
  version/VERSION
Owners: @hashicorp/terraform-core

Remove all experiments, and EXPERIMENTS section
  .changes/experiments.md
Owners: @hashicorp/terraform-core

Remove unneeded change file
  .changes/unreleased/ENHANCEMENTS-20250108-104335.yaml
Owners: @hashicorp/terraform-core

Remove unneeded change file (#36330)
  .changes/unreleased/ENHANCEMENTS-20250108-104335.yaml
Owners: @hashicorp/terraform-core

Remove all experiments, and EXPERIMENTS section (#36329)
  .changes/experiments.md
Owners: @hashicorp/terraform-core

Remove all experiments, and EXPERIMENTS section
  .changes/experiments.md
Owners: @hashicorp/terraform-core

Remove all experiments, and EXPERIMENTS section (#36331)
  .changes/experiments.md
Owners: @hashicorp/terraform-core

Prepare before 1.11.0-beta1 release
  CHANGELOG.md
  version/VERSION
Owners: @hashicorp/terraform-core

Revert "Remove all experiments, and EXPERIMENTS section (#36329)"
  .changes/experiments.md
Owners: @hashicorp/terraform-core

Remove JUnit entry in experiments list
  .changes/experiments.md
Owners: @hashicorp/terraform-core

Revert "Remove all experiments, and EXPERIMENTS section" (#36333)
  .changes/experiments.md
Owners: @hashicorp/terraform-core

Prepare before 1.11.0-beta1 release (#36332)
  CHANGELOG.md
  version/VERSION
Owners: @hashicorp/terraform-core

go get github.com/hashicorp/go-getter@v1.7.8
  go.mod
  go.sum
Owners: @hashicorp/terraform-core

Sync deps
  go.sum
  internal/backend/remote-state/azure/go.mod
  internal/backend/remote-state/azure/go.sum
  internal/backend/remote-state/consul/go.mod
  internal/backend/remote-state/consul/go.sum
  internal/backend/remote-state/cos/go.mod
  internal/backend/remote-state/cos/go.sum
  internal/backend/remote-state/gcs/go.mod
  internal/backend/remote-state/gcs/go.sum
  internal/backend/remote-state/kubernetes/go.mod
  internal/backend/remote-state/kubernetes/go.sum
  internal/backend/remote-state/oss/go.mod
  internal/backend/remote-state/oss/go.sum
  internal/backend/remote-state/pg/go.mod
  internal/backend/remote-state/pg/go.sum
  internal/backend/remote-state/s3/go.mod
  internal/backend/remote-state/s3/go.sum
  internal/legacy/go.mod
  internal/legacy/go.sum
Owners: @hashicorp/terraform-core, @hashicorp/terraform-azure, @hashicorp/tf-eco-hybrid-cloud, @hashicorp/terraform-aws

add back experiments
  .changes/experiments.md
Owners: @hashicorp/terraform-core

setup script for maintenance branch
  .changes/backported/.gitkeep
  scripts/changelog.sh
Owners: @hashicorp/terraform-core

remove old backported changes
  scripts/changelog.sh
Owners: @hashicorp/terraform-core

add backported comment to PR template
  .github/pull_request_template.md
Owners: @hashicorp/terraform-core

only include experiments in dev and alpha releases
  .changes/footer-with-experiments.md
  .changes/footer.md
  scripts/changelog.sh
Owners: @hashicorp/terraform-core

remove experiment
  .changes/footer-with-experiments.md
Owners: @hashicorp/terraform-core

add usage comment
  scripts/changelog.sh
Owners: @hashicorp/terraform-core

Revert "docs: add state_key in run block documentation"
  website/docs/language/tests/index.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

Revert "docs: add state_key changelog entry"
  CHANGELOG.md
Owners: @hashicorp/terraform-core

backport of commit 3991aa6c2aaf704ebaf9f7d30db758841cc23bd9
  website/data/language-nav-data.json
  website/docs/language/resources/ephemeral/index.mdx
  website/docs/language/resources/ephemeral/reference.mdx
  website/docs/language/resources/ephemeral/write-only.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

Tweak word
  website/docs/language/resources/ephemeral/index.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

backport of commit 813fb400b742b619ada1ea4dbaaa2c785e917eb0
  website/docs/language/resources/ephemeral/index.mdx
  website/docs/language/resources/ephemeral/reference.mdx
  website/docs/language/resources/ephemeral/write-only.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

backport of commit 78182f9dfaf81c87fdb00471510569d695b03cf6
  website/data/language-nav-data.json
  website/docs/language/resources/ephemeral/index.mdx
  website/docs/language/resources/ephemeral/reference.mdx
  website/docs/language/resources/ephemeral/write-only.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

Start the outline and have it ready to go
  website/data/language-nav-data.json
  website/docs/language/resources/ephemeral/index.mdx
  website/docs/language/resources/ephemeral/reference.mdx
  website/docs/language/resources/ephemeral/write-only.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

backport of commit 69230fdf24eb82f153153450ad5564848eb03009
  website/docs/language/resources/ephemeral/index.mdx
  website/docs/language/resources/ephemeral/write-only.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

backport of commit a406e0917860f59d307c9622282f49fb4bb97e8f
  website/docs/language/resources/ephemeral/index.mdx
  website/docs/language/resources/ephemeral/reference.mdx
  website/docs/language/resources/ephemeral/write-only.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

backport of commit 694a154555dde1cc3e11d6fdba41f43de3ffab77
  website/docs/language/resources/ephemeral/reference.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

Add todo to comments
  website/docs/language/resources/ephemeral/index.mdx
  website/docs/language/resources/ephemeral/write-only.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

Remove duplicated sentence
  website/docs/language/resources/ephemeral/reference.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

Rough outline in place
  website/data/language-nav-data.json
  website/docs/language/resources/ephemeral/index.mdx
  website/docs/language/resources/ephemeral/reference.mdx
  website/docs/language/resources/ephemeral/write-only.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence
