Repository hashicorp/terraform, changes with the owners that CODEOWNERS names for each.
All owners: @hashicorp/terraform-core, @hashicorp/terraform-azure, @hashicorp/tf-eco-hybrid-cloud, @hashicorp/terraform-aws, @hashicorp/terraform-education, @hashicorp/web-presence

CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# More on CODEOWNERS files: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# The rules are evaluated in order, if a file matches multiple patterns, the last match "wins".
# We want to have a default rule for all files
* @hashicorp/terraform-core

# Entries that are commented out have maintainers that are not in the
# HashiCorp organization and so cannot be automatically added as reviewers.
#
# We retain those as documentation of who agreed to maintain, but they
# cannot be used automatically by GitHub's pull request workflow and would
# make GitHub consider this file invalid if not commented.

# Remote-state backend                  # Maintainer
/internal/backend/remote-state/azure             @hashicorp/terraform-core @hashicorp/terraform-azure
#/internal/backend/remote-state/consul           Unmaintained
#/internal/backend/remote-state/cos              @likexian
/internal/backend/remote-state/gcs               @hashicorp/terraform-core @hashicorp/tf-eco-hybrid-cloud
/internal/backend/remote-state/http              @hashicorp/terraform-core
#/internal/backend/remote-state/oss              @xiaozhu36
#/internal/backend/remote-state/pg               @remilapeyre
/internal/backend/remote-state/s3                @hashicorp/terraform-core @hashicorp/terraform-aws
/internal/backend/remote-state/kubernetes        @hashicorp/terraform-core @hashicorp/tf-eco-hybrid-cloud

# Provisioners
builtin/provisioners/file               @hashicorp/terraform-core
builtin/provisioners/local-exec         @hashicorp/terraform-core
builtin/provisioners/remote-exec        @hashicorp/terraform-core

# Docs on developer.hashicorp.com/terraform/docs
website/        @hashicorp/terraform-core @hashicorp/terraform-education @hashicorp/web-presence

backport of update go-cty to 1.16.0 (#36264)
  go.mod
  go.sum
  internal/backend/remote-state/azure/go.mod
  internal/backend/remote-state/azure/go.sum
  internal/backend/remote-state/consul/go.mod
  internal/backend/remote-state/consul/go.sum
  internal/backend/remote-state/cos/go.mod
  internal/backend/remote-state/cos/go.sum
  internal/backend/remote-state/gcs/go.mod
  internal/backend/remote-state/gcs/go.sum
  internal/backend/remote-state/kubernetes/go.mod
  internal/backend/remote-state/kubernetes/go.sum
  internal/backend/remote-state/oss/go.mod
  internal/backend/remote-state/oss/go.sum
  internal/backend/remote-state/pg/go.mod
  internal/backend/remote-state/pg/go.sum
  internal/backend/remote-state/s3/go.mod
  internal/backend/remote-state/s3/go.sum
  internal/legacy/go.mod
  internal/legacy/go.sum
Owners: @hashicorp/terraform-core, @hashicorp/terraform-azure, @hashicorp/tf-eco-hybrid-cloud, @hashicorp/terraform-aws

Update CHANGELOG.md
  CHANGELOG.md
Owners: @hashicorp/terraform-core

Update CHANGELOG.md (#36266)
  CHANGELOG.md
Owners: @hashicorp/terraform-core

cmd/modules: Ensure modules are sorted by reference key
  internal/command/views/modules.go
  internal/moduleref/record.go
  internal/moduleref/resolver.go
  internal/moduleref/resolver_test.go
Owners: @hashicorp/terraform-core

cmd/modules: Ensure modules are sorted by reference key (#36268)
  internal/command/views/modules.go
  internal/moduleref/record.go
  internal/moduleref/resolver.go
  internal/moduleref/resolver_test.go
Owners: @hashicorp/terraform-core

backport of commit f26b82d3ab5d38044364a2b6f5869ed43ef61c37
  internal/repl/format.go
  internal/repl/format_test.go
Owners: @hashicorp/terraform-core

Fix `terraform console` crash for ephemeral values
  internal/repl/format.go
  internal/repl/format_test.go
Owners: @hashicorp/terraform-core

standardize client capabilities
  internal/grpcwrap/provider.go
  internal/stacks/stackruntime/internal/stackeval/client_capabilities.go
  internal/stacks/stackruntime/internal/stackeval/provider_instance.go
  internal/stacks/stackruntime/internal/stackeval/provider_instance_test.go
  internal/terraform/eval_context.go
  internal/terraform/eval_context_builtin.go
  internal/terraform/eval_context_mock.go
  internal/terraform/node_resource_abstract_instance.go
  internal/terraform/node_resource_import.go
  internal/terraform/node_resource_plan_instance.go
  internal/terraform/node_resource_validate.go
Owners: @hashicorp/terraform-core

Fix `terraform console` crash for ephemeral values (#36267)
  internal/repl/format.go
  internal/repl/format_test.go
Owners: @hashicorp/terraform-core

Update `test` docs to include the `-junit-xml` flag
  website/docs/cli/commands/test.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

Add output format section to the `test` docs
  website/docs/cli/commands/test.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

don't precompute actions
  internal/command/jsonformat/differ/attribute.go
  internal/command/jsonformat/differ/block.go
  internal/command/jsonformat/differ/differ_test.go
  internal/command/jsonformat/differ/object.go
Owners: @hashicorp/terraform-core

ephemeral: render write-only attributes in plan UI
  internal/command/jsonformat/computed/renderers/write_only.go
  internal/command/jsonformat/differ/attribute.go
  internal/command/jsonformat/differ/block.go
  internal/command/jsonformat/differ/differ_test.go
  internal/command/jsonformat/differ/object.go
  internal/command/jsonformat/plan_test.go
Owners: @hashicorp/terraform-core

ephemeral: add test case for block rendering
  internal/command/jsonformat/differ/block.go
  internal/command/jsonformat/plan_test.go
Owners: @hashicorp/terraform-core

Update CHANGELOG.md
  CHANGELOG.md
Owners: @hashicorp/terraform-core

Refactor how data about XML elements is presented, small formatting changes
  website/docs/cli/commands/test.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

Update CHANGELOG.md (#36272)
  CHANGELOG.md
Owners: @hashicorp/terraform-core

Add details about `<skipped>`
  website/docs/cli/commands/test.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

Start outlining write-only values
  website/docs/language/resources/ephemeral/index.mdx
  website/docs/language/resources/ephemeral/reference.mdx
  website/docs/language/resources/ephemeral/write-only.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

upgraded github.com/hashicorp/go-slug v0.16.0 => v0.16.3
  go.mod
  go.sum
Owners: @hashicorp/terraform-core

backport of commit 388afe2ee77cd0cd04801bcca279790be9f0ac59
  go.mod
  go.sum
Owners: @hashicorp/terraform-core

updated changelog
  CHANGELOG.md
Owners: @hashicorp/terraform-core

backport of commit 30247055acaf52a3ed159784e9b7797edd279e6e
  CHANGELOG.md
Owners: @hashicorp/terraform-core

ephemeral: render write-only attributes in plan UI
  internal/command/jsonformat/computed/renderers/write_only.go
  internal/command/jsonformat/differ/attribute.go
  internal/command/jsonformat/differ/block.go
  internal/command/jsonformat/differ/differ_test.go
  internal/command/jsonformat/differ/object.go
  internal/command/jsonformat/plan_test.go
Owners: @hashicorp/terraform-core

ephemeral: add test case for block rendering
  internal/command/jsonformat/differ/block.go
  internal/command/jsonformat/plan_test.go
Owners: @hashicorp/terraform-core

don't precompute actions
  internal/command/jsonformat/differ/attribute.go
  internal/command/jsonformat/differ/block.go
  internal/command/jsonformat/differ/differ_test.go
  internal/command/jsonformat/differ/object.go
Owners: @hashicorp/terraform-core

backport of commit fa8b8c0fb0a5fc1fc22226fa86dfa4a898b1ff90
  go.sum
Owners: @hashicorp/terraform-core

removed old entry from go-slug
  go.sum
Owners: @hashicorp/terraform-core

handle beta releases
  scripts/changelog.sh
Owners: @hashicorp/terraform-core

handle rc releases
  scripts/changelog.sh
Owners: @hashicorp/terraform-core

removed merging maintainer comment
  .github/workflows/merged-pr.yml
Owners: @hashicorp/terraform-core

setup changie
  .changes/1.11.0.md
  .changes/experiments.md
  .changes/previous-releases.md
  .changes/unreleased/.gitkeep
  .changes/unreleased/ENHANCEMENTS-20250102-130808.yaml
  .changes/unreleased/ENHANCEMENTS-20250102-131022.yaml
  .changie.yaml
  .copywrite.hcl
  .github/pull_request_template.md
  CHANGELOG.md
  scripts/changelog.sh
Owners: @hashicorp/terraform-core

add changelog entry to contributing guide
  .github/CONTRIBUTING.md
Owners: @hashicorp/terraform-core

Update CHANGELOG.md
  CHANGELOG.md
Owners: @hashicorp/terraform-core

update version
  version/VERSION
Owners: @hashicorp/terraform-core

update version
  version/VERSION
Owners: @hashicorp/terraform-core

fix typo
  .github/CONTRIBUTING.md
Owners: @hashicorp/terraform-core

setup changie
  .changes/1.11.0.md
  .changes/experiments.md
  .changes/previous-releases.md
  .changes/unreleased/.gitkeep
  .changes/unreleased/ENHANCEMENTS-20250102-130808.yaml
  .changes/unreleased/ENHANCEMENTS-20250102-131022.yaml
  .changie.yaml
  .copywrite.hcl
  .github/pull_request_template.md
  CHANGELOG.md
  scripts/changelog.sh
Owners: @hashicorp/terraform-core

handle beta releases
  scripts/changelog.sh
Owners: @hashicorp/terraform-core

add changelog entry to contributing guide
  .github/CONTRIBUTING.md
Owners: @hashicorp/terraform-core
