Repository hashicorp/terraform, changes with the owners that CODEOWNERS names for each.
All owners: @hashicorp/terraform-core, @hashicorp/terraform-azure, @hashicorp/tf-eco-hybrid-cloud, @hashicorp/terraform-aws, @hashicorp/terraform-education, @hashicorp/web-presence

handle rc releases
  scripts/changelog.sh
Owners: @hashicorp/terraform-core

removed merging maintainer comment
  .github/workflows/merged-pr.yml
Owners: @hashicorp/terraform-core

fix typo
  .github/CONTRIBUTING.md
Owners: @hashicorp/terraform-core

add changelog entry for write-only attributes
  .changes/unreleased/NEW FEATURES-20250107-125354.yaml
Owners: @hashicorp/terraform-core

Prepare before -alpha20250107 release
  CHANGELOG.md
  version/VERSION
Owners: @hashicorp/terraform-core

Cleanup after 1.11.0-alpha20250107 release
  CHANGELOG.md
  version/VERSION
Owners: @hashicorp/terraform-core

Prepare before 1.11.0-alpha20250107 release
  CHANGELOG.md
  version/VERSION
Owners: @hashicorp/terraform-core

Prepare before 1.11.0-beta1 release
  CHANGELOG.md
  version/VERSION
Owners: @hashicorp/terraform-core

fix typo
  .changes/unreleased/NEW FEATURES-20250107-125354.yaml
Owners: @hashicorp/terraform-core

Cleanup after 1.11.0-beta1 release
  CHANGELOG.md
  version/VERSION
Owners: @hashicorp/terraform-core

setup changie
  .changes/1.10.3.md
  .changes/experiments.md
  .changes/previous-releases.md
  .changes/unreleased/.gitkeep
  .changes/unreleased/BUG FIXES-20250107-144250.yaml
  .changes/unreleased/BUG FIXES-20250107-144307.yaml
  .changie.yaml
  .copywrite.hcl
  .github/pull_request_template.md
  scripts/changelog.sh
  version/VERSION
Owners: @hashicorp/terraform-core

handle rc releases
  scripts/changelog.sh
Owners: @hashicorp/terraform-core

handle beta releases
  scripts/changelog.sh
Owners: @hashicorp/terraform-core

removed merging maintainer comment
  .github/workflows/merged-pr.yml
Owners: @hashicorp/terraform-core

add changelog entry to contributing guide
  .github/CONTRIBUTING.md
Owners: @hashicorp/terraform-core

increment patch version on dev
  CHANGELOG.md
  scripts/changelog.sh
Owners: @hashicorp/terraform-core

increment patch version on dev
  CHANGELOG.md
  scripts/changelog.sh
Owners: @hashicorp/terraform-core

s3: revert upgrade guide verbiage change
  website/docs/language/upgrade-guides/index.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

s3: apply grammar suggestion from @jar-b
  website/docs/language/backend/s3.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

s3: apply grammar suggestion from @jar-b
  website/docs/language/backend/s3.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

s3: preserve S3 access control link
  website/docs/language/backend/s3.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

backend/s3(test): add `dynamodb_table` deprecation case
  internal/backend/remote-state/s3/backend_test.go
Owners: @hashicorp/terraform-core, @hashicorp/terraform-aws

upgraded github.com/hashicorp/go-slug v0.16.0 => v0.16.3
  internal/legacy/go.mod
  internal/legacy/go.sum
Owners: @hashicorp/terraform-core

backport of commit b5df07cca9af34295b8aca4f9fde25bc15b99a72
  internal/legacy/go.mod
  internal/legacy/go.sum
Owners: @hashicorp/terraform-core

backport of commit a6da6adb39c3ea6d824b60ac5d47fd6b338d9c9a
  internal/backend/remote-state/azure/go.mod
  internal/backend/remote-state/azure/go.sum
  internal/backend/remote-state/consul/go.mod
  internal/backend/remote-state/consul/go.sum
  internal/backend/remote-state/cos/go.mod
  internal/backend/remote-state/cos/go.sum
  internal/backend/remote-state/gcs/go.mod
  internal/backend/remote-state/gcs/go.sum
  internal/backend/remote-state/kubernetes/go.mod
  internal/backend/remote-state/kubernetes/go.sum
  internal/backend/remote-state/oss/go.mod
  internal/backend/remote-state/oss/go.sum
  internal/backend/remote-state/pg/go.mod
  internal/backend/remote-state/pg/go.sum
  internal/backend/remote-state/s3/go.mod
  internal/backend/remote-state/s3/go.sum
Owners: @hashicorp/terraform-core, @hashicorp/terraform-azure, @hashicorp/tf-eco-hybrid-cloud, @hashicorp/terraform-aws

upgraded github.com/hashicorp/go-slug v0.16.0 => v0.16.3
  internal/backend/remote-state/azure/go.mod
  internal/backend/remote-state/azure/go.sum
  internal/backend/remote-state/consul/go.mod
  internal/backend/remote-state/consul/go.sum
  internal/backend/remote-state/cos/go.mod
  internal/backend/remote-state/cos/go.sum
  internal/backend/remote-state/gcs/go.mod
  internal/backend/remote-state/gcs/go.sum
  internal/backend/remote-state/kubernetes/go.mod
  internal/backend/remote-state/kubernetes/go.sum
  internal/backend/remote-state/oss/go.mod
  internal/backend/remote-state/oss/go.sum
  internal/backend/remote-state/pg/go.mod
  internal/backend/remote-state/pg/go.sum
  internal/backend/remote-state/s3/go.mod
  internal/backend/remote-state/s3/go.sum
Owners: @hashicorp/terraform-core, @hashicorp/terraform-azure, @hashicorp/tf-eco-hybrid-cloud, @hashicorp/terraform-aws

add changelog entry to contributing guide
  .github/CONTRIBUTING.md
Owners: @hashicorp/terraform-core

handle beta releases
  scripts/changelog.sh
Owners: @hashicorp/terraform-core

handle rc releases
  scripts/changelog.sh
Owners: @hashicorp/terraform-core

removed merging maintainer comment
  .github/workflows/merged-pr.yml
Owners: @hashicorp/terraform-core

setup changie
  .changes/1.10.3.md
  .changes/experiments.md
  .changes/previous-releases.md
  .changes/unreleased/.gitkeep
  .changes/unreleased/BUG FIXES-20250107-144250.yaml
  .changes/unreleased/BUG FIXES-20250107-144307.yaml
  .changie.yaml
  .copywrite.hcl
  .github/pull_request_template.md
  scripts/changelog.sh
  version/VERSION
Owners: @hashicorp/terraform-core

increment patch version on dev
  CHANGELOG.md
  scripts/changelog.sh
Owners: @hashicorp/terraform-core

s3: add verbiage regarding `s3:DeleteObject` permission
  website/docs/language/backend/s3.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

increment patch version on dev
  CHANGELOG.md
  scripts/changelog.sh
Owners: @hashicorp/terraform-core

fix typo
  .changes/unreleased/NEW FEATURES-20250107-125354.yaml
Owners: @hashicorp/terraform-core

add changelog entry for write-only attributes
  .changes/unreleased/NEW FEATURES-20250107-125354.yaml
Owners: @hashicorp/terraform-core

s3: add missing comma in IAM policy
  website/docs/language/backend/s3.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

Start the outline and have it ready to go
  website/data/language-nav-data.json
  website/docs/language/resources/ephemeral/index.mdx
  website/docs/language/resources/ephemeral/reference.mdx
  website/docs/language/resources/ephemeral/write-only.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

minor improvements
  internal/command/testdata/test/mocking/tests/plan_mocked_provider_overridden.tftest.hcl
  internal/moduletest/eval_context.go
  internal/providers/mock.go
Owners: @hashicorp/terraform-core

more tests
  internal/command/test_test.go
  internal/command/testdata/test/mocking-invalid/tests/override_computed_invalid_boolean.tftest.hcl
  internal/command/testdata/test/mocking/tests/primary_mocked_overridden.tftest.hcl
  internal/configs/mock_provider.go
Owners: @hashicorp/terraform-core

CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# More on CODEOWNERS files: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# The rules are evaluated in order, if a file matches multiple patterns, the last match "wins".
# We want to have a default rule for all files
* @hashicorp/terraform-core

# Entries that are commented out have maintainers that are not in the
# HashiCorp organization and so cannot be automatically added as reviewers.
#
# We retain those as documentation of who agreed to maintain, but they
# cannot be used automatically by GitHub's pull request workflow and would
# make GitHub consider this file invalid if not commented.

# Remote-state backend                  # Maintainer
/internal/backend/remote-state/azure             @hashicorp/terraform-core @hashicorp/terraform-azure
#/internal/backend/remote-state/consul           Unmaintained
#/internal/backend/remote-state/cos              @likexian
/internal/backend/remote-state/gcs               @hashicorp/terraform-core @hashicorp/tf-eco-hybrid-cloud
/internal/backend/remote-state/http              @hashicorp/terraform-core
#/internal/backend/remote-state/oss              @xiaozhu36
#/internal/backend/remote-state/pg               @remilapeyre
/internal/backend/remote-state/s3                @hashicorp/terraform-core @hashicorp/terraform-aws
/internal/backend/remote-state/kubernetes        @hashicorp/terraform-core @hashicorp/tf-eco-hybrid-cloud

# Provisioners
builtin/provisioners/file               @hashicorp/terraform-core
builtin/provisioners/local-exec         @hashicorp/terraform-core
builtin/provisioners/remote-exec        @hashicorp/terraform-core

# Docs on developer.hashicorp.com/terraform/docs
website/        @hashicorp/terraform-core @hashicorp/terraform-education @hashicorp/web-presence
