Repository hashicorp/terraform, changes with the owners that CODEOWNERS names for each.
All owners: @hashicorp/terraform-core, @hashicorp/terraform-azure, @hashicorp/tf-eco-hybrid-cloud, @hashicorp/terraform-aws, @hashicorp/terraform-education, @hashicorp/web-presence

add variables to graph (all tests pass)
  internal/backend/local/test.go
  internal/backend/local/test2.go
  internal/command/test_test.go
  internal/command/testdata/test/dangling_data_block/main.tf
  internal/command/testdata/test/global_var_ref_in_suite_var/terraform.tfvars
  internal/command/testdata/test/mockingtest/child/main.tf
  internal/command/testdata/test/mockingtest/main.tf
  internal/command/testdata/test/mockingtest/tests/module_empty_outputs.tftest.hcl
  internal/moduletest/config/config.go
  internal/moduletest/hcl/provider.go
  internal/moduletest/hcl/variable_cache.go
  internal/moduletest/hcl/variable_caches.go
  internal/moduletest/test_case_two.tftest.hcl
  internal/moduletest/testdata/main.tf
  internal/moduletest/testdata/test_case_one.tftest.hcl
  internal/terraform/node_test_run.go
  internal/terraform/transform_test_file.go
  internal/terraform/transform_test_run.go
  internal/terraformtest/node_config_variable.go
  internal/terraformtest/node_file_variable.go
  internal/terraformtest/node_global_variable.go
  internal/terraformtest/node_run_variable.go
  internal/terraformtest/node_test_run.go
  internal/terraformtest/test_graph_builder.go
  internal/terraformtest/transform_config.go
  internal/terraformtest/transform_test_file.go
  internal/terraformtest/transform_test_run.go
Owners: @hashicorp/terraform-core

reorder test and test2
  internal/backend/local/test.go
  internal/backend/local/test2.go
  internal/command/test.go
  internal/command/test_test.go
  internal/moduletest/hcl/variable_caches.go
  internal/terraformtest/test_graph_builder.go
Owners: @hashicorp/terraform-core

cleanup some transformers
  internal/backend/local/test.go
  internal/terraformtest/transform_config.go
  internal/terraformtest/transform_test_file.go
  internal/terraformtest/transform_test_run.go
Owners: @hashicorp/terraform-core

rename
  internal/backend/local/test.go
  internal/moduletest/hcl/variable_caches.go
  internal/terraformtest/node_config_variable.go
  internal/terraformtest/node_test_run.go
Owners: @hashicorp/terraform-core

terminate graph when there is a hard stop request
  internal/backend/local/test.go
  internal/dag/dag.go
  internal/dag/marshal.go
  internal/dag/walk.go
  internal/dag/walk_test.go
  internal/moduletest/hcl/test_context.go
  internal/terraformtest/node_config_variable.go
  internal/terraformtest/node_test_run.go
Owners: @hashicorp/terraform-core

rename to variable context
  internal/backend/local/test.go
  internal/backend/local/test2.go
  internal/moduletest/config/config.go
  internal/moduletest/hcl/provider.go
  internal/moduletest/hcl/test_context.go
  internal/terraformtest/node_config_variable.go
  internal/terraformtest/node_file_variable.go
  internal/terraformtest/node_global_variable.go
  internal/terraformtest/node_run_variable.go
  internal/terraformtest/node_test_run.go
  internal/terraformtest/test_graph_builder.go
Owners: @hashicorp/terraform-core

sequential runs, mutexify maps
  internal/backend/local/test.go
  internal/command/test_test.go
  internal/moduletest/hcl/test_context.go
Owners: @hashicorp/terraform-core

apply transformer, return to working state
  internal/backend/local/test.go
  internal/command/test_test.go
  internal/moduletest/hcl/test_context.go
  internal/terraformtest/test_graph_builder.go
  internal/terraformtest/transform_test_run.go
Owners: @hashicorp/terraform-core

move eval context to terraformtest
  internal/backend/local/test.go
  internal/moduletest/hcl/variable_context.go
  internal/terraformtest/eval_context.go
  internal/terraformtest/eval_context_test.go
Owners: @hashicorp/terraform-core

restructuring (working version)
  internal/backend/local/test.go
  internal/command/test_test.go
  internal/moduletest/hcl/provider.go
  internal/moduletest/hcl/variable_context.go
  internal/terraformtest/node_config_variable.go
  internal/terraformtest/node_file_variable.go
  internal/terraformtest/node_global_variable.go
  internal/terraformtest/node_run_variable.go
  internal/terraformtest/node_test_run.go
  internal/terraformtest/test_graph_builder.go
  internal/terraformtest/transform_apply.go
  internal/terraformtest/transform_config.go
  internal/terraformtest/transform_config_var.go
  internal/terraformtest/transform_test_run.go
Owners: @hashicorp/terraform-core

restructuring (working version)
  internal/terraformtest/test_graph_builder.go
  internal/terraformtest/transform_test_file.go
  internal/terraformtest/transform_test_run.go
  internal/terraformtest/transform_variables.go
Owners: @hashicorp/terraform-core

remove old restructure
  internal/backend/local/test2.go
  internal/terraform/eval_test_context.go
  internal/terraform/eval_test_context_test.go
  internal/terraform/node_test_run.go
  internal/terraform/test_graph_builder.go
  internal/terraform/transform_test_file.go
  internal/terraform/transform_test_run.go
Owners: @hashicorp/terraform-core

remove test2
  internal/backend/local/test2.go
Owners: @hashicorp/terraform-core

remove bin
  internal/command/testdata/test/dangling_data_block/main.tf
  internal/command/testdata/test/global_var_ref_in_suite_var/terraform.tfvars
Owners: @hashicorp/terraform-core

test: also allow mock_data and mock_resource blocks to generate data during planning
  internal/command/test_test.go
  internal/command/testdata/test/mocking/tests/mocks/data.tfmock.hcl
  internal/command/testdata/test/mocking/tests/primary_mocked_external.tftest.hcl
  internal/configs/config_build_test.go
  internal/configs/configload/loader_load.go
  internal/configs/mock_provider.go
  internal/configs/parser_config.go
  internal/configs/parser_config_dir.go
  internal/configs/provider.go
  internal/configs/test_file.go
  internal/providers/mock.go
  internal/terraform/node_resource_abstract_instance.go
Owners: @hashicorp/terraform-core

Move all JUnit-related code down to where it's used
  internal/command/junit/junit.go
  internal/command/junit/junit_test.go
  internal/command/test.go
Owners: @hashicorp/terraform-core

backport of commit b9015d8b3d37335ae63d83badc96ab1b3d8c3b0b
  website/docs/language/tests/mocking.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

include mock_resource and mock_data
  website/docs/language/tests/mocking.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

Add change file for #36273 (#36299)
  .changes/unreleased/BUG FIXES-20250108-173554.yaml
Owners: @hashicorp/terraform-core

Move JUnit-related error and warning diags to above where cancellable contexts are created
  internal/command/test.go
Owners: @hashicorp/terraform-core

Fix wording of user feedback
  internal/command/junit/junit.go
Owners: @hashicorp/terraform-core

Remove comment
  internal/terraform/context_apply_ephemeral_test.go
Owners: @hashicorp/terraform-core

add diags to variable context
  internal/backend/local/test.go
  internal/command/test_test.go
  internal/dag/dag.go
  internal/moduletest/hcl/provider.go
  internal/moduletest/hcl/variable_context.go
  internal/terraformtest/node_config_variable.go
  internal/terraformtest/node_file_variable.go
  internal/terraformtest/node_run_variable.go
  internal/terraformtest/node_test_run.go
  internal/terraformtest/transform_config_var.go
  internal/terraformtest/transform_test_run.go
Owners: @hashicorp/terraform-core

Bump github.com/emicklei/go-restful/v3
  go.mod
  go.sum
  internal/backend/remote-state/azure/go.mod
  internal/backend/remote-state/azure/go.sum
  internal/backend/remote-state/consul/go.mod
  internal/backend/remote-state/consul/go.sum
  internal/backend/remote-state/cos/go.mod
  internal/backend/remote-state/cos/go.sum
  internal/backend/remote-state/gcs/go.mod
  internal/backend/remote-state/gcs/go.sum
  internal/backend/remote-state/kubernetes/go.mod
  internal/backend/remote-state/kubernetes/go.sum
  internal/backend/remote-state/oss/go.mod
  internal/backend/remote-state/oss/go.sum
  internal/backend/remote-state/pg/go.mod
  internal/backend/remote-state/pg/go.sum
  internal/backend/remote-state/s3/go.mod
  internal/backend/remote-state/s3/go.sum
  internal/legacy/go.mod
  internal/legacy/go.sum
Owners: @hashicorp/terraform-core, @hashicorp/terraform-azure, @hashicorp/tf-eco-hybrid-cloud, @hashicorp/terraform-aws

Validate write-only attributes returned from providers during the UpgradeResourceState RPC (#36305)
  internal/providers/testing/provider_mock.go
  internal/terraform/context_apply_ephemeral_test.go
  internal/terraform/context_plan2_test.go
  internal/terraform/upgrade_resource_state.go
Owners: @hashicorp/terraform-core

test: also allow mock_data and mock_resource blocks to generate data during planning (#36317)
  internal/command/test_test.go
  internal/command/testdata/test/mocking/tests/mocks/data.tfmock.hcl
  internal/command/testdata/test/mocking/tests/primary_mocked_external.tftest.hcl
  internal/configs/config_build_test.go
  internal/configs/configload/loader_load.go
  internal/configs/mock_provider.go
  internal/configs/parser_config.go
  internal/configs/parser_config_dir.go
  internal/configs/provider.go
  internal/configs/test_file.go
  internal/providers/mock.go
  internal/terraform/node_resource_abstract_instance.go
Owners: @hashicorp/terraform-core

backport of commit ee2d77de43ad1bb5b9238c4086799d0cc066f5c5
  .changes/unreleased/ENHANCEMENTS-20250115-084326.yaml
  website/docs/language/tests/index.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

docs: add docs and changelog for new terraform test state key attribute
  .changes/unreleased/ENHANCEMENTS-20250115-084326.yaml
  website/docs/language/tests/index.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

Refactor how local test runner is passed JUnit data
  internal/command/test.go
Owners: @hashicorp/terraform-core

fix: Allow WriteOnly attributes to require replacement
  internal/configs/configschema/implied_type.go
  internal/configs/configschema/implied_type_test.go
  internal/configs/configschema/write_only.go
  internal/configs/configschema/write_only_test.go
  internal/terraform/context_plan2_test.go
  internal/terraform/node_resource_abstract_instance.go
Owners: @hashicorp/terraform-core

address feedback
  internal/terraform/node_resource_abstract_instance.go
Owners: @hashicorp/terraform-core

add test
  internal/terraform/context_plan2_test.go
Owners: @hashicorp/terraform-core

add changelog entry for terraform modules -json
  .changes/1.10.3.md
  CHANGELOG.md
Owners: @hashicorp/terraform-core

add changelog entry for terraform modules -json
  .changes/1.10.3.md
  CHANGELOG.md
Owners: @hashicorp/terraform-core

Add change file
  .changes/unreleased/NEW FEATURES-20250115-110818.yaml
Owners: @hashicorp/terraform-core

Add test for incompatible flags
  internal/command/arguments/test_test.go
Owners: @hashicorp/terraform-core

Update `test` command docs to include `-junit-xml` flag
  website/docs/cli/commands/test.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

backport of commit d8a232317ca21ce04a4862685c71f20c5111cdb3
  website/docs/cli/commands/test.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

backport of commit 00eb798fb2ec2b4c3884f53b11f142889d27fb58
  website/docs/cli/commands/test.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

Add details about how XML's contents maps to `test` concepts, and include info about attributes
  website/docs/cli/commands/test.mdx
Owners: @hashicorp/terraform-core, @hashicorp/terraform-education, @hashicorp/web-presence

CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# More on CODEOWNERS files: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# The rules are evaluated in order, if a file matches multiple patterns, the last match "wins".
# We want to have a default rule for all files
* @hashicorp/terraform-core

# Entries that are commented out have maintainers that are not in the
# HashiCorp organization and so cannot be automatically added as reviewers.
#
# We retain those as documentation of who agreed to maintain, but they
# cannot be used automatically by GitHub's pull request workflow and would
# make GitHub consider this file invalid if not commented.

# Remote-state backend                  # Maintainer
/internal/backend/remote-state/azure             @hashicorp/terraform-core @hashicorp/terraform-azure
#/internal/backend/remote-state/consul           Unmaintained
#/internal/backend/remote-state/cos              @likexian
/internal/backend/remote-state/gcs               @hashicorp/terraform-core @hashicorp/tf-eco-hybrid-cloud
/internal/backend/remote-state/http              @hashicorp/terraform-core
#/internal/backend/remote-state/oss              @xiaozhu36
#/internal/backend/remote-state/pg               @remilapeyre
/internal/backend/remote-state/s3                @hashicorp/terraform-core @hashicorp/terraform-aws
/internal/backend/remote-state/kubernetes        @hashicorp/terraform-core @hashicorp/tf-eco-hybrid-cloud

# Provisioners
builtin/provisioners/file               @hashicorp/terraform-core
builtin/provisioners/local-exec         @hashicorp/terraform-core
builtin/provisioners/remote-exec        @hashicorp/terraform-core

# Docs on developer.hashicorp.com/terraform/docs
website/        @hashicorp/terraform-core @hashicorp/terraform-education @hashicorp/web-presence
